
<div class="header" style="display: flex;flex-direction: column;flex-wrap: nowrap;height: 100%">
  <mar-header headers="dashModel.headers"></mar-header>

  <div style="flex-grow: 2;
              flex-basis:auto;
              flex-shrink: 1;background-color: white;overflow: hidden;">
    <!--<canvas width="850px" height="800px" id="canvas" style="background-color: #00D3FF"></canvas>-->
    <div style="height:600px;width:1000px">
      <topo spines="dashModel.deSpines" leafs="dashModel.deLeafs" others="dashModel.deOthers" links="dashModel.deLinks"></topo>
    </div>
  </div>

  <footer></footer>

  <mar-drawer is-right=true></mar-drawer>
</div>
