<div class="dashboard flex_entirety">
    <!--<mar-header></mar-header>-->
    <mdl-header></mdl-header>
    <div class="flex_entirety__body">
        <content-header big-title="首页">
            <span>Mars Cloud</span>
        </content-header>
        <div class="flex_entirety__body__body dashboard__body">

            <div class="dashboard-summary" ng-show="!panelLoading.controller">
                <div class="mdc-card panel-widget panel-blue-bg-white margin-right-16 margin-left-8">
                  <div class="widget-left">
                    <i class="material-icons md-48">zoom_out_map</i>
                  </div>
                  <div class="widget-right">
                    <div class="widget-top">
                      <div class="large">{{dashboardModel.controllerSummary.count}}</div>
                      <div class="medium">控制器</div>
                    </div>
                    <!-- <div class="widget-bottom">
                      <div>
                        <span>模式：</span>
                        {{dashboardModel.controllerSummary.mode}}
                      </div>
                      <div class="inactive" ng-if="dashboardModel.controllerSummary.inactives.length">
                        <span>异常：</span>
                        <div class="inactive-ips">
                          <span ng-repeat="ip in dashboardModel.controllerSummary.inactives">{{ip}}</span>
                        </div>
                      </div>
                    </div> -->
                  </div>
                </div>
                <div class="mdc-card panel-widget panel-orange-bg-white">
                  <div class="widget-left">
                    <i class="material-icons md-48">shuffle</i>
                  </div>
                  <div class="widget-right">
                    <div class="widget-top">
                      <div class="large">{{dashboardModel.switchSummary.spineCount}}</div>
                      <div class="medium">Spine</div>
                    </div>
                  </div>
                </div>
                <div class="mdc-card panel-widget panel-green-bg-white margin-right-16 margin-left-48">
                  <div class="widget-left">
                    <i class="material-icons md-48">swap_vert</i>
                  </div>
                  <div class="widget-right">
                    <div class="widget-top">
                      <div class="large">{{dashboardModel.switchSummary.leafCount}}</div>
                      <div class="medium">Leaf</div>
                    </div>
                  </div>
                </div>
                <div class="mdc-card panel-widget panel-teal-bg-white">
                  <div class="widget-left">
                    <div class="material-icon-left-container panel-material-red">
                      <i class="material-icons md-30">zoom_out_map</i>
                    </div>
                    <div class="material-icon-left-container panel-material-yellow">
                      <i class="material-icons md-34">swap_horiz</i>
                    </div>
                    <div class="material-icon-left-container panel-material-red">
                      <i class="material-icons md-34">swap_horiz</i>
                    </div>
                  </div>
                  <div class="widget-right">
                    <div class="material-icon-right-container">
                      <div class="large">{{dashboardModel.controllerSummary.inactives.length}}</div>
                      <div class="small margin-left-8">异常控制器</div>
                    </div>
                    <div class="material-icon-right-container">
                      <div class="large">{{dashboardModel.switchSummary.unknownCount}}</div>
                      <div class="small margin-left-8">待加入交换机</div>
                    </div>
                    <div class="material-icon-right-container">
                      <div class="large">{{dashboardModel.switchSummary.unavailableCount}}</div>
                      <div class="small margin-left-8">异常交换机</div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="dashboard__horizontal_box">
                <div>
                    <mar-section s-title="端口收发包Top5" no-fold="true" class="detail_summary dash_mar_section">
                        <div class="content_panel_parent">
                            <content-panel is-load="panelLoading.controller">
                                <div>
                                    <div id="swtInterfaceRxTxPackages"
                                         class="content_panel_dash_chart"></div>
                                </div>
                                <div>
                                    <div id="swtInterfaceRxTxBytes"
                                         class="content_panel_dash_chart"></div>
                                </div>
                            </content-panel>
                        </div>
                    </mar-section>
                </div>
                <div>
                    <mar-section s-title="端口丢包Top5" no-fold="true" class="detail_summary dash_mar_section">
                        <div class="content_panel_parent">
                            <content-panel is-load="panelLoading.controller">
                                <div>
                                    <div id="swtInterfaceRxTxDrops" class="content_panel_dash_chart"></div>
                                </div>
                            </content-panel>
                        </div>
                    </mar-section>
                </div>
            </div>
            <div class="dashboard__horizontal_box">
              <div>
                  <mar-section s-title="交换机CPU使用率Top5" no-fold="true"
                      class="detail_summary dash_mar_section cpu_rate">
                      <div class="content_panel_parent">
                        <content-panel is-load="panelLoading.controller">
                            <div>
                                <div id="deviceCpuAnalyzer" class="content_panel_dash_chart"></div>          
                            </div>
                        </content-panel>
                      </div>
                  </mar-section>
              </div>
              <div>
                    <mar-section s-title="交换机内存使用率Top5" no-fold="true"
                        class="detail_summary dash_mar_section memory_rate">
                        <div class="content_panel_parent">
                            <content-panel is-load="panelLoading.controller">
                                <div>
                                    <div id="deviceMemoryAnalyzer" class="content_panel_dash_chart"></div>
                                </div>
                            </content-panel>
                        </div>
                  </mar-section>
              </div>
            </div>
        </div>
    </div>
    <loading></loading>
</div>
