//@import 'xbem';
@import 'default';
@import 'shared';

//@include block(mdc-drawer){
//
//  //@include element(temporary){
//  //  & @include element(){
//  //
//  //  }
//  //
//  //}
//
//  @include element(drawer){
//    //&.+right {
//    //  right: 0px;
//    //  left: auto;
//    //}
//    @include state(right){
//
//    }
//  }
//}

.mdc-drawer {
  &.\+right {

    z-index: map_get($z-indexes, z100);
    .mdc-drawer__drawer{
      right: 0px;
      left: auto;
      transform: translateX(calc(100% + 20px));
    }
  }
}

