//@import 'xbem';
//@import 'default';
//@import 'shared';
//@import 'framework_layout';

@include block(actions){
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: -5px;
  background: #000;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 6px;
  z-index:80;

  @include element(input) {
    height: 20px;
    width: 150px;
    padding: 7px 0 9px 15px;
    font-size: 16px;
  }
}

@include block(realtime-log-actions) {
  position: relative;
  display: flex;
  float: right;
  margin-right: 5px;
  margin-bottom: 5px;
  
  @include element(action) {
    display: inline-block;
    margin-left: 15px;
  }
  
  @include element(input) {
    height: 30px;
    width: 150px;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 3px;
    box-sizing: border-box;
    background: #000;
    color: #fff;
  }
  
  @include element(select) {
    width: 150px;
    background: #000;
    color: #fff;
    padding: 0 3px;
    border-radius: 3px;
  }
  
  
}
.realtime-log-actions__select .mdc-select {
  width: 150px;
}

@include block(configuration){
  display:flex;
  flex-direction: row;

  @include element(content){
    height:90%;
    width:90%;
    margin:8px;
    flex-shrink: 1;
    flex-grow: 1;
    background-color: white;
  }
  
  @include element(operation){
    display: flex;
    height:100%;
    margin: 8px 20px;
    flex-direction: column;
    flex-basis: 500px;
    flex-shrink: 0;
    flex-grow: 0;
    
    @include element(form){
      padding: 15px;
      border: 1px solid #47b8e0;
      background-color: transparent;
      color: white;


      .mdc-radio__outer-circle{
        border-color: white !important;
      }

      .mdc-select__native-control{
        color:white !important;
        border-bottom-color: white!important;
      }
      label, input{
        color:white!important;
      }
      .mdc-notched-outline__idle{
        border-color:white!important;
      }


      @include state(disable) {
        border: 1px solid #dfdfdf;
      }
      
      @include element(input){
        margin-bottom: 20px;
        
        @include element(label){
          font-size: 14px;
          font-weight: bold;
          text-decoration: underline;
        }
        
        @include element(text) {
          border: 1px solid #000;
          border-radius: 5px;
          color: #000;
          @include element(disabled) {
            border: 1px solid #ddd;
            color: #ddd;
          }
        }
        
        @include element(error) {
          color: red;
          font-size: 12px;
        }
      }
    }
  }
}

.configuration__content .jsoneditor-text {
  color: #FFFFFF;
  background-color: #1a1a1a;
}

.configuration__content .jsoneditor-tree {
  background: #1a1a1a;
}

.configuration__content .jsoneditor-field, .jsoneditor-value {
  color: #ffffff;
}