//@import 'xbem';
//@import 'default';
//@import 'shared';
//@import 'framework_layout';

.dhcp .mar_section__header__title{
  color:white;
}

.dhcp .mar_section{
  background-color: transparent;
  color: white;
}


.ntp_switch label{
  color:white;
}
.dhcp_table{

}

.dhcp_table tr td:first-child {
  //text-align: right;
  padding-right: 4px;
  //background-color: red;
  //padding-top: 4px;
  font-weight: 300;
  font-size: 16px;
}

.dhcp_table td{
  height:45px;

}

.dhcp_table tr td:last-child {
  text-align: left;
  padding-left: 4px;
  //padding-top: 4px;
  font-weight: 400;
  font-size: 16px;
  width:210px;
}

.dhcp_table tr {
  margin-top: 4px;
}
.dhcp_table .valid_input{
  height:45px;
}

.dhcp_table .valid_input input{
  width:200px;
  height:45px;
}

.dhcp .mar_section__body{
  background: none;
}

.dhcp .valid_input__message{
  top:0;
  right:-40px;
}

.sysinfo_table tr td:first-child {
  text-align: right;
  padding-right: 4px;
  min-width: 120px;
  //background-color: red;
  //padding-top: 4px;
  font-weight: 400;
  font-size: 20px;
}

.sysinfo_table tr td:last-child {
  text-align: left;
  padding-left: 4px;
  //padding-top: 4px;
  font-weight: 400;
  font-size: 20px;
}

.sysinfo_table tr {
  margin-top: 4px;
}

.sysinfo_table {
  border-spacing: 38px 8px;
  width: 800px;
}

.elasticsearch-form {
  height:140px;
  padding:10px;
}
.elasticsearch-form .conditions {
  margin:0 auto;
  width: 60%;
  border:1px solid #aaa;
  padding:10px 5px;
}

.elasticsearch-form .conditions .label {
  margin-right: 15px;
  font-size:14px;
  font-weight:bold;
  color: #fff;
}
.elasticsearch-form .conditions .date-input {
  width:90%;
  border-radius:5px;
  font-size:14px;
}

.elasticsearch-csv-file {
  height: 200px;
  padding: 10px;
}
.elasticsearch-csv-file .conditions {
  margin:0 auto;
  width: 80%;
}

.elasticsearch-csv-file .conditions .label {
  margin-right: 15px;
  font-size: 14px;
  font-weight: bold;
  color: #000;
}

.elasticsearch-csv-file .conditions .label .must{
  font-size: 18px;
  font-weight: bold;
  color: red;
}

.elasticsearch-csv-file .conditions .query {
  height: 215px;
  border-radius:5px;
  font-size:14px;
}

.license {
  //padding: 10px 5px;
}
.license .license__detail {
  padding-bottom: 20px;
}
.license .license__row {
  display: flex;
  margin-bottom: 10px;
}
.license .license__item {
  margin-right: 20px;
  width: 210px;
  align-items: center;
}
.license .license__item .license__item-label {
  font-size: 14px;
  font-weight: 700;
  opacity: 0.6;
}
.license .license__item .license__item-value {
  margin-left: 10px;
}

.license .license__item .available {
  height: 16px;
  width: 16px;
  background-image: url('../../assets/images/status-icons.png');
  background-repeat: no-repeat;
  background-size: 64px auto;
  background-position: -48px 0;
}

.license .license__item .inavailable {
  height: 16px;
  width: 16px;
  background-image: url('../../assets/images/status-icons.png');
  background-repeat: no-repeat;
  background-size: 64px auto;
  background-position: -48px -15px;
}

.license .license__app {
  position: relative;
  width: 100%;
  height: calc(100% - 50px);
}

.license .license__upload {
  display: flex;
  position: absolute;
  right: 0;
  top: -20px;
}
.license .license__upload .save {
  margin-left: 0;
  margin-top: 10px;
}
.license .license__upload .label {
  font-weight: 700;
  opacity: .6;
  margin-top: 25px;
  display: inline;
}
.license .license__app__label {
  padding: 5px 0;
  opacity: .6;
  font-weight: 700;
  width: 100px;
}

.elasticsearch .mar_section__header{
  background-color: lightgray;
}

.elasticsearch .mar_section__body{
  background-color: lightgray;
}

.elasticsearch .mdc-select.mdc-select__no-label > .mdc-select__native-control{
  color: #4C4C4C;
}