//@import 'xbem';
//@import 'default';
//@import 'shared';


@include block(segmentmember_establish){
  margin: 16px;

  table{
    border-collapse: separate;
    border-spacing: 0 4px;
  }

  .instruction_line{
    display: inline-block;
  }


  @include element(name){
    margin-bottom:4px;
    font-size:16px;
  }


  @include element(header){
    display: inline-block;
    margin-top: 2px;

    div{
      display: inline-block;
      vertical-align: top;
    }

    @include element(action){
      margin-top:-10px;
    }
  }

  @include element(body){

    .type {
      top: -8px;
      left: 16px;
      position: absolute;
      background-color: white;
      padding: 0 4px;
      color: #6a6af9;
      box-shadow: 2px 2px 2px lightgray;
      border-radius: 2px;
    }

    @include element(item){
      margin-top: 16px;
      border-radius: 3px;
      border: 1px solid gray;
      display: block;
      padding: 12px 30px 12px 12px;
      position: relative;

      .remove{
        top:0;
        right:0;
        position: absolute;
      }

      @include element(line){
        display:block;
      }
    }
  }
}


.inline_content {
  padding:5px 5px 5px 0;
}

.inline_content .item{
  margin-top: 16px;
  border-radius: 3px;
  border: 1px solid gray;
  display: block;
  padding: 12px 30px 12px 12px;
  position: relative;
  box-shadow: 2px 2px 2px lightgray;
  max-height: 400px;
  transition: all .5s linear;
  overflow: hidden;
}

.inline_content .item.ng-enter{
  animation: enter_anim 0.5s cubic-bezier(.55, 0, .55, .2);
}
@keyframes enter_anim {
  from{
    max-height: 0px;
    opacity: 0;
  }
  to {
    max-height: 200px;
    opacity: 1;
  }
}


.item.ng-leave,.item.ng-move {
  animation: leave_anim 0.5s cubic-bezier(.55, 0, .55, .2);
}

@keyframes leave_anim {
  to {
    max-height: 0px;
    opacity: 0;
  }
}

.inline_content .item .type{
  top: -8px;
  left: 16px;
  position: absolute;
  background-color: white;
  padding: 0 4px;
  color: #6a6af9;
  box-shadow: 2px 2px 2px lightgray;
  border-radius: 2px;
}
.inline_content .item .remove{
  top:0;
  right:0;
  position: absolute;
}

.inline_content_table tr td:first-child {
  //text-align: right;
  //padding-right: 4px;
  //background-color: red;
  //padding-top: 4px;
  font-weight: 300;
  min-width:80px;
  //font-size: 11px;
}

.segmentmember_establish .btn-md{
  padding: 0;
}


//@include block(receiveGroup){
//
//  @include element(content){
//    padding:5px;
//
//    @include element(item){
//      margin-top: 16px;
//      border-radius: 3px;
//      border: 1px solid gray;
//      display: block;
//      padding: 12px 30px 12px 12px;
//      position: relative;
//      box-shadow: 2px 2px 2px lightgray;
//
//      .remove {
//        top:0;
//        right:0;
//        position: absolute;
//      }
//
//      .type {
//        top: -8px;
//        left: 16px;
//        position: absolute;
//        background-color: white;
//        padding: 0 4px;
//        color: #6a6af9;
//        box-shadow: 2px 2px 2px lightgray;
//        border-radius: 2px;
//      }
//
//      @include element(line){
//        display:block;
//      }
//    }
//  }
//}
//
//.receiveGroup_table tr td:first-child {
//  //text-align: right;
//  //padding-right: 4px;
//  //background-color: red;
//  //padding-top: 4px;
//  font-weight: 300;
//  min-width:80px;
//  //font-size: 11px;
//}