<aside id="my-mdc-dialog" ng-if="type != 'info' && type != 'info_json'"
       class="mdc-dialog mdc-dialog--open"
       role="alertdialog"
       aria-labelledby="my-mdc-dialog-label"
       aria-describedby="my-mdc-dialog-description" stype="border:0; box-shadow: 2px 2px 2px gray">
  <div class="mdc-dialog__surface">
    <header class="mdc-dialog__header">
      <div id="my-mdc-dialog-label" class="mdc-dialog__header__title">
        <div style="vertical-align:bottom;display:inline-flex;">
          <span class="mdc-dialog__header__error" ng-if="type == 'error'"></span>
          <span class="mdc-dialog__header__warning" ng-if="type == 'warning'"></span>
          <span class="mdc-dialog__header__confirm" ng-if="type == 'confirm'"></span>
          <span class="mdc-dialog__header__success" ng-if="type == 'success'"></span>
        </div>

        <div class="mdc-dialog__header__title__text" ng-bind="::header"></div>
      </div>
    </header>
    <section id="my-mdc-dialog-description" class="mdc-dialog__body">
      {{content}}
    </section>
    <div class="mdc-dialog__footer">
      <!--<button type="button"  ng-show="type === 'warning'" ng-click="canceled()"-->
              <!--class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button&#45;&#45;cancel">{{cancel}}</button>-->
      <div ng-show="type === 'confirm' || type === 'warning'" style="margin: 0 15px;">
        <mar-button btn-text="cancel" btn-style="'width: 70px;'" btn-class="'btn-white btn-sm'" btn-icon="'clear'" btn-click="canceled()"/>
      </div>
      <div style="margin: 0 15px;">
        <mar-button btn-text="confirmation" btn-style="'width: 70px;'" btn-class="'btn-black btn-sm'" btn-icon="'done'" btn-click="ok()"/>
      </div>
      <!--<button type="button" ng-click="ok()"-->
              <!--class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button&#45;&#45;accept">{{confirmation}}</button>-->
    </div>
  </div>
  <div class="mdc-dialog__backdrop"></div>
</aside>
<aside id="my-mdc-dialog" ng-if="type == 'info'|| type == 'info_json'"
       class="mdc-dialog mdc-dialog--open"
       role="alertdialog"
       aria-labelledby="my-mdc-dialog-label"
       aria-describedby="my-mdc-dialog-description"
       uib-modal-window="modal-window" stype="border:0; box-shadow: 2px 2px 2px gray">
  <div class="mdc-dialog__surface" style="max-height:400px;overflow: auto;padding:16px;">
    <div id="" class="mdc-dialog__header__title">
    </div>
    <pre ng-style="infoStyle">{{content}}</pre>
  </div>
</aside>
