<div class="select-field-container">
  <div class="mdc-select" ng-click="toggleMenu($event)"
        ng-class="{'mdc-select--no-label': hint === undefined, 
                    'mdc-select--focused': menuOpen, 'mdc-select--disabled': disable === true}">
    <i class="material-icons mdc-select__dropdown-icon">arrow_drop_down</i>
    <label class="mdc-floating-label" ng-class="{'mdc-floating-label--float-above': value}">{{hint}}</label>
    <div class="mdc-line-ripple" ng-class="{'mdc-line-ripple--active': menuOpen}"></div>
    <div class="mdc-select__selected-text" ng-if="value">
      <div class="icon" ng-if="iconSupport"><i class="material-icons">{{value.type}}</i></div>
      <div class="text" ng-bind="value.label" title="{{value.label}}"></div>
    </div>
    <div class="mdc-select__menu" ng-class="{'mdc-menu--open': menuOpen}">
      <ul class="mdc-select-list" ng-if="options.length != 0">
        <li class="mdc-select-list-item" ng-click="changeSelect($event, item)" index="{{$index}}"
            ng-repeat="item in options track by $index">
          <div class="mdc-select-list-item__icon" ng-if="iconSupport">
            <i class="material-icons icon">{{item.type}}</i>
          </div>
          <div class="mdc-select-list-item__text" ng-bind="item.label" title="{{item.label}}"></div>
        </li>
      </ul>
    </div>
  </div>
</div>