<div class="column-manipulation-field">
  <div class="column-manipulation-field__header">
    <span class="column-manipulation-field__title"
          ng-bind="'MODULES.VLAN.TAB.EDIT.ADD_VLAN'|translate"></span>
  </div>
  <form class="endpoint__form" autocomplete="off" novalidate>
      <div class="column-manipulation-field__content">
      <div class="column-manipulation-field__item" style="width: 240px;">
          <div class="item">
              <span class="title">port:</span>
              <mdl-select ng-model="model.selectedPort"
                          display-label="{options: portOptions}">
              </mdl-select>
          </div>
          <div class="item">
              <span class="title">{{::'MODULES.VLAN.VOICE.TABLE.COLUMN.RULE' | translate}}:</span>
              <mdl-select ng-model="model.selectedRule"
                          display-label="{options: ruleOptions}">
              </mdl-select>
          </div>
          <div class="item">
              <span class="title">{{::'MODULES.VLAN.VOICE.TABLE.COLUMN.PRIORITY' | translate}}:</span>
              <mdl-select ng-model="model.selectedPriority"
                          display-label="{options: priorityOptions}">
              </mdl-select>
          </div>
          <div class="item">
              <span class="title">{{::'MODULES.VLAN.VOICE.TABLE.COLUMN.MODE' | translate}}:</span>
              <mdl-select ng-model="model.selectedModel"
                          display-label="{options: modeOptions}">
              </mdl-select>
          </div>
          <div class="item">
              <span class="title">{{::'MODULES.VLAN.VOICE.TABLE.COLUMN.SECURITY' | translate}}:</span>
              <mdl-radio ng-model="model.security"
                         display-label="securityAction[0]">
              </mdl-radio>
              <mdl-radio ng-model="model.security"
                         display-label="securityAction[1]">
              </mdl-radio>
          </div>
      </div>
      </div>

      <div class="column-manipulation-field__footer">
          <div style="display: inline-block;float: right; margin-left: 15px;">
        <mar-button btn-text="::'MODULES.TABLE.COLUMN.SAVE' | translate" btn-type="'submit'" btn-icon="'done'" btn-class="'btn-black btn-sm'" btn-click="save($event)"></mar-button>
      </div>

      <div style="display: inline-block;float: right;">
        <mar-button btn-text="::'MODULES.TABLE.COLUMN.CANCEL' | translate" btn-icon="'clear'" btn-class="'btn-white btn-sm'" btn-click="cancel($event)"></mar-button>
      </div>
      </div>
  </form>
</div>