<div class="timerange_name_establish">

    <div class="stepForm__input">
        <div class="stepForm__input__label">{{'MODULES.TIMERANGES.LABEL.SWITCH'|translate}}
            <!--<span class="stepForm__input__required">*</span>-->
        </div>
        <div class="timerange_name_establish__label">{{device.label}}</div>
    </div>

    <div class="stepForm__input">
        <div class="stepForm__input__label">{{'MODULES.TIMERANGES.LABEL.TIME_RANGE_NAME'|translate}}<span class="stepForm__input__required">*</span></div>
        <valid-input v-require="true" ng-model="tsEsModel.name" v-rpcid="page_timerange_name_es" ></valid-input>
    </div>
</div>