<div style="width:100%;height:100%;" class="forceTopo">
    <div ng-click="revertPosition($event)" style="right:160px;top:16px;" class="svg_revert svg_revert_p_1 mdc-ripple-surface mdc-ripple-upgraded">
        <i class="material-icons" style="user-select: none;">undo</i>
    </div>

    <div ng-click="resizeSvg($event, 1)" style="right:160px;top:64px;" class="svg_revert svg_revert_p_1 mdc-ripple-surface mdc-ripple-upgraded">
        <i class="material-icons" style="user-select: none;">add</i>
    </div>

    <div ng-click="resizeSvg($event, 0)" style="right:160px;top:112px;" class="svg_revert svg_revert_p_1 mdc-ripple-surface mdc-ripple-upgraded">
        <i class="material-icons" style="user-select: none;">remove</i>
    </div>

    <div ng-click="svgDrag($event, 3)" style="top: 16px; right:64px;transform: scaleY(1);" class="svg_revert svg_revert_p_1 mdc-ripple-surface mdc-ripple-upgraded">
        <i class="material-icons" style="user-select: none;transform: scale(1)">keyboard_arrow_up</i>
    </div>

    <div ng-click="svgDrag($event, 1)" style="top: 64px;right:112px;transform: scaleX(1);" class="svg_revert svg_revert_p_1 mdc-ripple-surface mdc-ripple-upgraded">
        <i class="material-icons" style="user-select: none;transform: scale(1)">keyboard_arrow_left</i>
    </div>

    <div ng-click="svgDrag($event, 4)" style="top: 112px; right:64px;transform: scaleY(1);" class="svg_revert svg_revert_p_1 mdc-ripple-surface mdc-ripple-upgraded">
        <i class="material-icons" style="user-select: none;transform: scale(1)">keyboard_arrow_down</i>
    </div>

    <div ng-click="svgDrag($event, 2)" style="top:64px; right:16px;transform: scaleX(1);" class="svg_revert svg_revert_p_1 mdc-ripple-surface mdc-ripple-upgraded">
        <i class="material-icons" style="user-select: none;transform: scale(1)">keyboard_arrow_right</i>
    </div>

    <!--<div style="top:16px; right:16px;transform: scaleX(1);" class="svg_revert">-->
        <!--&lt;!&ndash;<span style="width:50px;display: inline-block;vertical-align: middle;"> {{'MODULES.TOPO.PATH.START'|translate}}: </span>&ndash;&gt;-->
        <!--<mdl-select ng-model="vlanTopoModel.vlan" style="display: inline-block;vertical-align: middle;"-->
                    <!--display-label="vlanTopoModel.vlan_list_display">-->
        <!--</mdl-select>-->
    <!--</div>-->


    <svg width="100%" height="100%" style="overflow: visible;" transform="translate(0,0) scale(1)">

    </svg>
</div>

