<div class="stepForm">
    <input type="hidden" ng-model="switch.id">
    <div class="stepForm__input">
        <div class="stepForm__input__label">{{::'COMPONENT.ACLWIZARD.INPUT.DEVICE_NAME' | translate}}</div>
        <mdl-select ng-model="model.selectedDevice"
                    display-label="{options: deviceOptions}">
        </mdl-select>
    </div>

    <div class="stepForm__input">
        <div class="stepForm__input__label">{{::'COMPONENT.ACLWIZARD.INPUT.PORT_NAME' | translate}}</div>
        <mdl-select ng-model="model.selectedPort"
                    display-label="{options: portOptions}">
        </mdl-select>
    </div>

    <div class="stepForm__input">
        <div class="stepForm__input__label" style="text-decoration: underline">{{::'COMPONENT.ACLWIZARD.INPUT.DIRECTION' | translate}}</div>
        <mdl-radio ng-model="acl.direction"
                   display-label="{id: 'check_1', label: 'IN', name: 'direction', value: true}">
        </mdl-radio>
        <mdl-radio ng-model="acl.direction"
                   display-label="{id: 'check_2', label: 'OUT', name: 'direction', value: false}">
        </mdl-radio>
    </div>

    <div class="stepForm__input">
        <div class="stepForm__input__label" style="text-decoration: underline">{{::'COMPONENT.ACLWIZARD.INPUT.ACTION' | translate}}</div>
        <mdl-radio ng-model="acl.action"
                   display-label="permitRadioOption">
        </mdl-radio>
        <mdl-radio ng-model="acl.action"
                   display-label="denyRadioOption">
        </mdl-radio>
    </div>

    <div class="stepForm__input">
        <div class="stepForm__input__label" style="text-decoration: underline">{{::'COMPONENT.ACLWIZARD.INPUT.RULE' | translate}}</div>
        <mdl-checkbox ng-model="showMacRule" display-label="macRuleDisplayLabel">
        </mdl-checkbox>
        <mdl-checkbox ng-model="showIpRule" display-label="ipRuleDisplayLabel">
        </mdl-checkbox>
    </div>

    <div ng-if="showMacRule" style="border:1px solid;padding:0 10px;margin-bottom:20px;">
        <div class="stepForm__input">
            <div class="stepForm__input__label">{{::'MODULE.FUNCTIONS.ACL.TABLE.SCHEMA.SRC_MAC' | translate}}</div>
            <valid-input v-require="true" ng-model="acl.mac.srcMac" v-rpcid="page_acl_macSrc" v-regex="mac_regex" v-message="{{ 'COMPONENT.ACLWIZARD.INPUT.MAC.INVALID' | translate}}"></valid-input>
        </div>

        <div class="stepForm__input">
            <div class="stepForm__input__label">{{::'MODULE.FUNCTIONS.ACL.TABLE.SCHEMA.DST_MAC' | translate}}</div>
            <valid-input v-require="true" ng-model="acl.mac.dstMac" v-rpcid="page_acl_macDst" v-regex="mac_regex" v-message="{{ 'COMPONENT.ACLWIZARD.INPUT.MAC.INVALID' | translate}}"></valid-input>
        </div>

        <div class="stepForm__input">
            <div class="stepForm__input__label">{{::'MODULE.FUNCTIONS.ACL.TABLE.SCHEMA.ETHER_TYPE' | translate}}</div>
            <valid-input v-require="true" ng-model="acl.mac.etherType" v-rpcid="page_acl_etherType"></valid-input>
        </div>

        <div class="stepForm__input">
            <div class="stepForm__input__label">{{::'MODULE.FUNCTIONS.ACL.TABLE.SCHEMA.VLAN' | translate}}</div>
            <valid-input v-require="true" ng-model="acl.mac.vlan" v-rpcid="page_acl_vlan"></valid-input>
        </div>
    </div>

    <div ng-if="showIpRule" style="border:1px solid;padding:0 10px;margin-bottom:10px;">
        <div class="stepForm__input">
            <div class="stepForm__input__label">{{::'MODULE.FUNCTIONS.ACL.TABLE.SCHEMA.SRC_IP' | translate}}</div>
            <div style="display: flex;flex-direction: row;">
                <valid-input v-require="true" ng-model="acl.ipv4.srcIp" v-rpcid="page_acl_ipsrc" v-regex="ip_regex" v-message="{{ 'COMPONENT.ACLWIZARD.INPUT.ADDRESS.INVALID' | translate}}"></valid-input>
                <span class="stepForm__input__separator" style="margin-top: 10px;" >&nbsp;:&nbsp;</span>
                <valid-input  v-require="true" v-span="true" ng-model="acl.ipv4.srcPort" v-regex="num_regex" v-message="{{ 'MODULES.REGEX.FLOW_ADD.PORT' | translate}}" v-rpcid="page_device_1" ></valid-input>
            </div>
        </div>

        <div class="stepForm__input">
            <div class="stepForm__input__label">{{::'MODULE.FUNCTIONS.ACL.TABLE.SCHEMA.DST_IP' | translate}}</div>
            <div style="display: flex;flex-direction: row;">
                <valid-input v-require="true" ng-model="acl.ipv4.dstIp" v-rpcid="page_acl_ipdst" v-regex="ip_regex" v-message="{{ 'COMPONENT.ACLWIZARD.INPUT.ADDRESS.INVALID' | translate}}"></valid-input>
                <span class="stepForm__input__separator" style="margin-top: 10px;" >&nbsp;:&nbsp;</span>
                <valid-input  v-require="true" v-span="true" ng-model="acl.ipv4.dstPort" v-regex="num_regex" v-message="{{ 'MODULES.REGEX.FLOW_ADD.PORT' | translate}}" v-rpcid="page_device_1" ></valid-input>
            </div>
        </div>

        <div class="stepForm__input">
            <div class="stepForm__input__label">{{::'MODULE.FUNCTIONS.ACL.TABLE.SCHEMA.PROTOCAL' | translate}}</div>
            <div style="display: flex;flex-direction: row;">
                <valid-input v-require="true" ng-model="acl.ipv4.protocol" v-rpcid="page_acl_protocol" v-regex="ip_regex" v-message="{{ 'COMPONENT.ACLWIZARD.INPUT.ADDRESS.INVALID' | translate}}"></valid-input>
            </div>
        </div>
    </div>
</div>
