<div class="content_panel">
    <div style="width:100%;height:100%;position: relative;" class="">
        <ng-transclude>
            <!--这里必须是 <div><div></div></div>-->
            <!--因为padding不支持负数，所以不支持动态展现内容-->
            <!--因此需要用div嵌套，然后使用margin来实现-->
        </ng-transclude>
    </div>
    <div class="content_panel__markers">
        <div class="content_panel__markers__node" ng-repeat="item in contentPanelModel.contents" ng-click="clickNode($index)" ng-class="{'currentSelected': $index === 0}"></div>
    </div>

    <div class="content_panel__loading +show" ng-class="{'+show':isLoad == true}">
    </div>

</div>