//@import 'xbem';
//@import 'default';
//@import 'shared';




@include block(mar_section){
  /* display: inline-block; 
  background-color: rgb(244, 245, 247);*/
  @include element(header){
    display: block;
    position: relative;
    border-bottom: 1px solid #E5E5E5;
    white-space: nowrap;
    padding-left: 2px;
    cursor: pointer;
    color: #4C4C4C;
    font-weight: 200;
    white-space: nowrap;
    //padding-left: 2px;
    cursor: pointer;
    font-weight: 200;
    font-size: 18px;
    border-bottom: 1px solid lightgray;
    min-width:400px;


    @include element(icon){
      background: url('../../assets/images/arrow.svg') no-repeat;
      background-size: 15px;
      display: inline-block;
      height: 15px;
      width: 15px;
      margin-right: 2px;
      position: relative;
      display: inline-block;
      top:2px;


      @include state(expand){
        animation: .15s ease-out;
        animation-name: section_expand;
        transform: rotateZ(-90deg);
      }

      @include state(fold){
        animation: .15s ease-out;
        animation-name: section_fold;
        transform: rotateZ(0deg);
      }

    }

    @include  element(title){
      display: inline-block;

    }

    @include  element(setting){
      display: inline-block;
      float: right;
    }
    @include element(transclude){
      float: right;
    }
  }

  @include element(body){
    overflow: hidden;
    padding: 8px 16px;
  }
}

.mdc-icon-button.mdc-card__action--icon:not(:disabled){
  height: 24px;
  width: 24px;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  color: rgba(0,0,0, 0.6);
}

.mdc-icon-button.mdc-card__action--icon:not(:disabled):hover {
  color: rgba(0,0,0, 0.8);
}

.title_wide{
  padding:8px 0 8px 8px;
}

@-webkit-keyframes section_expand {
  0% {
    -webkit-transform: rotateZ(-90deg);
  }

  100% {
    -webkit-transform: rotateZ(0deg);
  }
}

@-moz-keyframes section_expand {
  0% {
    -moz-transform: rotateZ(-90deg);
  }

  100% {
    -moz-transform: rotateZ(0deg);
  }
}

@-ms-keyframes section_expand {
  0% {
    -ms-transform: rotateZ(-90deg);
  }

  100% {
    -ms-transform: rotateZ(0deg);
  }
}

@keyframes section_expand {
  0% {
    transform: rotateZ(-90deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}




@-webkit-keyframes section_fold {
  0% {
    -webkit-transform: rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(-90deg);
  }
}

@-moz-keyframes section_fold {
  0% {
    -moz-transform: rotateZ(0deg);
  }

  100% {
    -moz-transform: rotateZ(-90deg);
  }
}

@-ms-keyframes section_fold {
  0% {
    -ms-transform: rotateZ(0deg);
  }

  100% {
    -ms-transform: rotateZ(-90deg);
  }
}

@keyframes section_fold {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(-90deg);
  }
}