//@import 'xbem';
//@import 'default';
//@import 'shared';

@include block(valid_input) {
  position: relative;
  height: 30px;
  overflow: visible;

  //input {
  //  width: 100%;
  //  height: 30px;
  //  font-size: 15px;
  //  padding: 0 5px;
  //  border: 1px solid darkgray;
  //  box-sizing: border-box;
  //  border-radius: 5px;
  //  background-color: lightgray;
  //}

  .mouseover {
    border-color: black;
  }

  .focus{
    //border-color: black;
    //border-width: 2px;
  }

  .ng-invalid.afterBlur {
    border-color: red;
  }
  .ng-invalid.mouseover {
    //border-color: red;
  }

  .ng-invalid.focus{
    //border-color: red;
  }


  .ng-invalid.focus.mouseover {
    //border-color: red;
  }

  @include element(message) {
    white-space: nowrap;
    position: absolute;
    z-index: 100;
    box-shadow: 3px 3px 3px black;
    pointer-events: none;
    right: 0;
    font-size: 14px;
    top: -40px;
    background-color: white;
    color: red;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
  }

  //@include element(shake){
  //  animation: .5s linear;
  //  animation-name: shake;
  //}

}


@-webkit-keyframes shake {
  0% {
    margin-left:0;
  }
  25% {
    margin-left:3px;
  }
  75% {
    margin-left:-3px;
  }
  100% {
    margin-left:0px;
  }
}

@-moz-keyframes shake {
  0% {
    margin-left:0;
  }
  25% {
    margin-left:-3px;
  }
  75% {
    margin-left:3px;
  }
  100% {
    margin-left:0px;
  }
}


@-ms-keyframes shake {
  0% {
    margin-left:0;
  }
  25% {
    margin-left:3px;
  }
  75% {
    margin-left:-3px;
  }
  100% {
    margin-left:0px;
  }
}


@keyframes shake {
  0% {
    margin-left:0;
  }
  25% {
    margin-left:3px;
  }
  75% {
    margin-left:-3px;
  }
  100% {
    margin-left:0px;
  }
}

//@keyframes shake {
//  0% {
//    margin-left:0;
//  }
//  10% {
//    margin-left:-3px;
//  }
//  20% {
//    margin-left:3px;
//  }
//  30% {
//    margin-left:-3px;
//  }
//  40% {
//    margin-left:3px;
//  }
//  50% {
//    margin-left:-3px;
//  }
//  60% {
//    margin-left:3px;
//  }
//  70% {
//    margin-left:-3px;
//  }
//  80% {
//    margin-left:3px;
//  }
//  90% {
//    margin-left:-3px;
//  }
//  100% {
//    margin-left:0;
//  }
//}

.valid_input.mdc-text-field--invalid input{
  color: #b00020 !important;
}

.valid_input.mdc-text-field{
  margin-top:3px !important;
  margin-bottom:3px !important;
}

.valid_input.mdc-text-field--no-label {
  margin-top:3px !important;
  margin-bottom:3px !important;
  height: 36px !important;
  //padding-top: 2px;
  //padding-bottom: 2px;
}

.valid_input.mdc-text-field--no-label input {
  padding-top : 0px !important;
}


.valid_input.mdc-text-field-helper-text{
  //transform: scale(1);
  transition: max-height ease-out .4s, opacity ease-out .4s;
  max-height: 60px;
  height: auto;
  opacity: 1;
}

.valid_input.mdc-text-field-helper-text.input_is_invalid{
  color: #b00020 !important;
}


.valid_input.mdc-text-field-helper-text.ng-hide{
  max-height: 0;
  opacity: 0;
}

.valid_input.mdc-text-field-helper-text.fixed_height{
  position: absolute;
}

.valid_input .material-icons.mdc-text-field__icon{
  bottom:3px;
  pointer-events: all;
}

.valid_input.mdc-text-field--with-trailing-icon .mdc-text-field__icon {
  left: initial;
  right: 5px;
}

.valid_input.mdc-text-field--with-trailing-icon .mdc-text-field__input {
  padding-left: 3px;
  padding-right: 34px;
}

.valid_input.mdc-text-field--with-leading-icon .mdc-text-field__input {
  padding-left: 34px;
  padding-right: 3px;
}

.valid_input.mdc-text-field--with-leading-icon .mdc-text-field__icon {
  right: initial;
  left: 5px;
}

.valid_input.mdc-text-field-helper-text.con_leading_icon{
  padding: 0 8px;
}

.valid_input.mdc-text-field-helper-text.con_trailing_icon{
  padding: 0 3px;
}

.valid_input.mdc-text-field .mdc-floating-label {
  color: rgba(255, 255, 255, 0.8);
}

.valid_input.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: rgba(255,37,48,.8);
}