<mdl-header></mdl-header>
<div class="app-main">
  <content-header big-title="{{page_title}}">
    <a href="/">Mars Cloud</a>
    <span>•</span>
    <span ng-bind="'MODULES.SWITCH.DETAIL.TITLE'|translate"></span>
  </content-header>
  <section class="app-body">
    <div class="main__content">
      <div class="device-detail" ng-if="detailDisplay">
        <div class="device-detail__row">
          <div class="device-detail__item">
            <label class="device-detail__item-label"
                   ng-bind="'MODULES.SWITCHES.SWITCH.COLUMN.NAME'|translate"></label>
            <span class="device-detail__item-value">{{detailValue.name}}</span>
          </div>
          <div class="device-detail__item">
            <label class="device-detail__item-label"
                   ng-bind="'MODULES.SWITCHES.SWITCH.COLUMN.IP'|translate"></label>
            <span class="device-detail__item-value">{{detailValue.mgmtIpAddress}}</span>
          </div>
          <div class="device-detail__item">
            <label class="device-detail__item-label"
                   ng-bind="'MODULES.SWITCHES.SWITCH.COLUMN.MAC'|translate"></label>
            <span class="device-detail__item-value">{{detailValue.mac}}</span>
          </div>
        </div>
        <div class="device-detail__row">
          <div class="device-detail__item">
            <label class="device-detail__item-label"
                   ng-bind="'MODULES.SWITCHES.SWITCH.COLUMN.RACK'|translate"></label>
            <span class="device-detail__item-value">{{detailValue.rack_id}}</span>
          </div>
          <div class="device-detail__item">
            <label class="device-detail__item-label"
                   ng-bind="'MODULES.SWITCHES.SWITCH.COLUMN.TYPE'|translate"></label>
            <span class="device-detail__item-value">{{detailValue.type}}</span>
          </div>
          <div class="device-detail__item">
            <label class="device-detail__item-label"
                   ng-bind="'MODULES.SWITCH.DETAIL.FLOW.COLUMN.STATE'|translate"></label>
            <span class="device-detail__item-value "
                  ng-class="{
                  'device-detail__available': detailValue.available === true,
                  'device-detail__inavailable': detailValue.available === false
                  }"></span>
          </div>

          <!--<div class="device-detail__item">-->
            <!--<label class="device-detail__item-label"-->
                   <!--ng-bind="'MODULES.SWITCHES.SWITCH.COLUMN.GROUP'|translate"></label>-->
            <!--<span class="device-detail__item-value">{{Object.keys(detailValue.leaf_group)}}</span>-->
          <!--</div>-->
        </div>
        <!--<div class="device-detail__row">-->
          <!--<div class="device-detail__item">-->
            <!--<label class="device-detail__item-label"-->
                   <!--ng-bind="'MODULES.SWITCH.DETAIL.FLOW.COLUMN.STATE'|translate"></label>-->
            <!--<span class="device-detail__item-value "-->
                  <!--ng-class="{-->
                  <!--'device-detail__available': detailValue.available === true,-->
                  <!--'device-detail__inavailable': detailValue.available === false-->
                  <!--}"></span>-->
          <!--</div>-->
        <!--</div>-->
      </div>
      <mdl-tabs ng-model="tabSelected" options="tabs"
                class-list="main__content__device-detail-tabs"
                on-select="onTabChange($value)">
      </mdl-tabs>
      <section class="tab-content" ng-if="tabSelected.type == 'port'">
        <mdl-table actions-show="detailModel.actionsShow"
                   actions="detailModel.rowActions"
                   row-actions-filter="onTableRowActionsFilter($event)"
                   row-select-action="onTableRowSelectAction($event)"
                   row-click="onTableRowClick($event)"
                   provider="detailModel.provider" api-ready="onApiReady($api)">
        </mdl-table>
      </section>
      <section class="tab-content" ng-if="tabSelected.type == 'link'">
        <mdl-table actions-show="detailModel.actionsShow"
                   row-click="onTableRowClick($event)"
                   provider="detailModel.provider" api-ready="onApiReady($api)">
        </mdl-table>
      </section>
      <section class="tab-content" ng-if="tabSelected.type == 'statistic'">
        <mdl-table actions-show="detailModel.actionsShow"
                   row-click="onTableRowClick($event)"
                   provider="detailModel.provider" api-ready="onApiReady($api)">
        </mdl-table>
      </section>
      <section class="tab-content" ng-if="tabSelected.type == 'flow'">
        <mdl-table actions-show="detailModel.actionsShow"
                   actions="detailModel.rowActions"
                   row-select-action="onTableRowSelectAction($event)"
                   row-click="onTableRowClick($event)"
                   provider="detailModel.provider" api-ready="onApiReady($api)"
                   on-add="createFlow()" on-remove="batchRemove($value)">
        </mdl-table>
      </section>
      <section class="tab-content" ng-if="tabSelected.type == 'endpoint'">
        <mdl-table actions-show="detailModel.actionsShow"
                   row-click="onTableRowClick($event)"
                   provider="detailModel.provider" api-ready="onApiReady($api)">
        </mdl-table>
      </section>
    </div>
  </section>

  <ng-controller ng-controller="flowEstablishController">
    <wizard></wizard>
  </ng-controller>
</div>