<mdl-header></mdl-header>
<div class="app-main">
  <content-header big-title="{{'MODULE.HEADER.FABRIC.DHCPRELAY' | translate}}">
    <a href="/">Mars Cloud</a>
    <span>•</span>
    <span>{{'MODULE.HEADER.FABRIC.DHCPRELAY' | translate}}</span>
  </content-header>
  <section class="app-body dhcp_relay" style="flex-direction: column">
    <div class="main__content">
    <div>
      <mdl-tabs ng-model="tabSelected" options="tabs"
                class-list="main__content__device-detail-tabs"
                on-select="onTabChange($value)">
      </mdl-tabs>
    </div>
    <div style="display:flex;height:100%">
    <div ng-class="{'section-3-2':(tabSelected.type == 'default' || tabSelected.type == 'indirect')}" style="padding-right: 20px;">
        <section class="tab-content" ng-if="tabSelected.type == 'default'">
          <mdl-table actions-show="model.actionsShow"
                     actions="model.rowActions"
                     row-select-action="onTableRowSelectAction($event)"
                     row-click="onTableRowClick($event)"
                     provider="model.provider" api-ready="onApiReady($api)"
                     on-add="addDefault()">
          </mdl-table>
        </section>
        <section class="tab-content" ng-if="tabSelected.type == 'indirect'">
          <mdl-table actions-show="model.actionsShow"
                     actions="model.rowActions"
                     row-select-action="onTableRowSelectAction($event)"
                     row-click="onTableRowClick($event)"
                     provider="model.provider" api-ready="onApiReady($api)"
                     on-add="addIndirect()">
          </mdl-table>
        </section>
        <section class="tab-content" ng-if="tabSelected.type == 'counter'">
          <mdl-table actions-show="model.actionsShow"
                     row-click="onTableRowClick($event)"
                     provider="model.provider" api-ready="onApiReady($api)">
          </mdl-table>
        </section>
    </div>
    <div class="section-3-1" ng-show="(tabSelected.type == 'default' || tabSelected.type == 'indirect') && model.subRelayIps">
      <div class="segment-detail">
        <h3 ng-bind="'MODULES.DHCP_RELAY.COLUMN.AGENT_IPS_LIST'|translate"></h3>
        <div class="segment-vlan-member">
          <mdl-table
                  provider="model.subProvider" api-ready="onSubApiReady($api)">
          </mdl-table>
        </div>
      </div>
    </div>
    </div>
    </div>
  </section>


  <!--<ng-controller class="cos-wizard" ng-controller="cosEstablishCtrl">-->
    <!--<wizard></wizard>-->
  <!--</ng-controller>-->
  <!--<ng-controller class="ecn-wizard" ng-controller="ecnEstablishCtrl">-->
    <!--<wizard></wizard>-->
  <!--</ng-controller>-->

  <!--<ng-controller class="ecn-wizard" ng-controller="scheduleEstablishCtrl">-->
    <!--<wizard></wizard>-->
  <!--</ng-controller>-->

</div>