<mdl-header></mdl-header>
<div class="app-main">
  <content-header big-title="{{page_title}}">
    <a href="/">Mars Cloud</a>
    <span>•</span>
    <span ng-bind="'MODULES.SWITCHES.TAB.SCHEMA.ENDPOINT'|translate"></span>
  </content-header>
  <section class="app-body" >
    <div class="main__content">
      <section class="tab-content">
          <mdl-table actions-show="endpointModel.actionsShow"
                     row-click="onTableRowClick($event)"
                     provider="endpointModel.endpointProvider" api-ready="onEndpointApiReady($api)">
          </mdl-table>
        </section>
    </div>
  </section>
</div>
