<mdl-header></mdl-header>
<div class="app-main">
  <content-header big-title="Intents">
    <a href="/">Mars Cloud</a>
    <span>•</span>
    <span>Intents</span>
  </content-header>
  <section class="app-body" >
  	<div class="main__content">
  		<section class="tab-content">
        <mdl-table actions-show="model.actionsShow"
                   actions="model.rowActions"
                   row-click="onTableRowClick($event)"
                   row-select-action="onTableRowSelectAction($event)"
                   provider="model.provider" api-ready="onAPIReady($api)"
                   on-remove="batchRemove($value)">
        </mdl-table>
      </section>
    </div>
  </section>
</div>  