<mdl-header></mdl-header>
<div class="app-main">
  <content-header big-title="{{'MODULE.HEADER.FABRIC.VLAN' | translate}}">
    <a href="/">Mars Cloud</a>
    <span>•</span>
    <span>{{'MODULE.HEADER.FABRIC.VLAN' | translate}}</span>
  </content-header>
  <section class="app-body vlan-container" style="flex-direction: column">
    <div class="main__content">
      <mdl-tabs ng-model="tabSelected" options="tabs"
                class-list="main__content__device-detail-tabs"
                on-select="onTabChange($value)">
      </mdl-tabs>
      <section class="tab-content" ng-if="tabSelected.type == 'default'" style="display: flex;">
        <div class="mars-col-16 relative">
          <div style="position: relative; display: flex;">
            <div class="type-container">
              <mdl-radio ng-model="model.typeMode" 
                        display-label='model.portDisplayLabel' 
                        on-click="changeDisplayType($value)"></mdl-radio> 
              <mdl-radio ng-model="model.typeMode" 
                        display-label='model.tableDisplayLabel' 
                        on-click="changeDisplayType($value)"></mdl-radio> 
            </div>
            <div class="ports-container" ng-if="model.typeMode === 'port'">
              <div class="filter-container">
                <mdl-select ng-if="model.filterTypes.length > 0" ng-model="model.selectedFilterType" 
                            display-label="{options: model.filterTypes}" ng-change="changeFilterType($value)">
                </mdl-select>
                <mdl-select ng-if="model.filterTypes.length > 0" ng-model="model.selectedSubFilter"
                            display-label="{options: model.subFilterItems}" ng-change="changeDisplayPorts($value)"></mdl-select>
              </div>
              <div class="deivce-list">
              </div>
            </div>
            <div ng-if="model.typeMode === 'table'" style="margin-top: 100px;">
              <mdl-table actions-show="model.actionsShow"
                     row-click="onTableRowClick($event)"
                     provider="model.provider" api-ready="onApiReady($api)">
              </mdl-table>
            </div>
          </div>  
        </div>
        
      </section>
      <section class="tab-content" ng-if="tabSelected.type == 'edit'">
        <div class="vlan-table-field" >
            <div class="header">
                <mdl-select ng-model="vlanModel.selectedDevice" display-label="{options: deviceOptions}"></mdl-select>
                <mdl-button ng-click="addDevice(vlanModel.selectedDevice.value)" icon-name="add" disabled="addDeviceDisabled"></mdl-button>
                <mdl-button ng-click="removeDevice(vlanModel.selectedDevice.value)" icon-name="remove" disabled="removeDeviceDisabled"></mdl-button>
                <div style="margin:0 auto;">
                    <mar-button btn-text="'MODULES.VLAN.TAB.EDIT.CREATE_VLAN' | translate" btn-class="'btn-black btn-md'" btn-icon="'done'" btn-click="createVlan()" btn-disabled="!vlanModel.devices.length"/>
                </div>
            </div>


            <div class="content">
                <div class="device" ng-repeat="device in vlanModel.devices track by $index">
                    <div class="name">{{device.name}}:</div>
                    <ports-group group-id="{{'group-id-' + $index}}" ports-list="device.ports" ports-num-per-row="27"></ports-group>
                    <div class="batch-ports">
                        <span ng-bind="'MODULES.VLAN.TAB.EDIT.BATCH_INPUT' | translate"></span><valid-input ng-model="batchPorts" ng-value="formatPortsToStr(device.ports)" v-regex="portsBatchRegex" v-name="ports" v-rpcid="device-ports-input" ng-change="batchChangePorts($index, batchPorts)"></valid-input>
                    </div>
                </div>
            </div>
        </div>

        <ng-controller ng-controller="VlanEstablishController">
            <wizard steps="steps" title="title" show-wizard="showWizard" next-step="" before-cancel="cancel(formData)" before-submit="submit(formData)"></wizard>
        </ng-controller>
      </section>
    </div>
  </section>
</div>