<div class="stepForm">
    <!--<div class="form-name">Form1</div>-->
    <div class="stepForm__input">
        <div class="stepForm__input__label">NTP and Time Zone Settings</div>
        <span>Inherit From Controller</span>
        <mdl-switch ng-model="switch.clock.settings"
                    display-label="{on: 'On', off: 'Off', id: 'device-clock'}">
        </mdl-switch>
    </div>

    <div ng-show="switch.clock.settings">
        <div class="stepForm__input">
            <div class="stepForm__input__label">Time Zone</div>
            <mdl-select ng-model="switch.clock.zone"
                        display-label="{ options: [{label: '男1', value: '0'}, {label: '男2', value: '1'}]}">
            </mdl-select>
        </div>

        <div class="stepForm__input">
            <div class="stepForm__input__label">NTP Servers</div>
            <Table></Table>
        </div>
    </div>
</div>