<div class="wizard__body__form">
    <!--<div class="form-name">Form1</div>-->
    <div class="wizard__body__input">
        <div class="wizard__body__input__label">SNMP Settings</div>
        <span>Inherit From Controller</span>
        <mdl-switch ng-model="switch.snmp"
                    display-label="{on: 'On', off: 'Off', id: 'switch-snmp'}">
        </mdl-switch>
    </div>

    <div ng-show="switch.snmp">
        <div class="wizard__body__input">
        <mdl-text ng-model="switch.contact" display-label="{id: 'contact', hint: 'Contact', type: 'text', required: false}"></mdl-text>
        </div>
        <div class="wizard__body__input">
            <mdl-text ng-model="switch.location" display-label="{id: 'location', hint: 'Location', type: 'text', required: false}"></mdl-text>
        </div>
        <div class="wizard__body__input">
            <mdl-text ng-model="switch.community" display-label="{id: 'community', hint: 'Community', type: 'text', required: false}"></mdl-text>
        </div>
        <div class="wizard__body__input">
            <div class="wizard__body__input__label">Traps</div>
            <mdl-switch ng-model="switch.traps" display-label="{on: 'Enabled', off: 'Disabled', id: 'switch-snmp-traps'}"></mdl-switch>
        </div>
    </div>
</div>