<div class="stepForm">
    <input type="hidden" ng-model="switch.id">
    <div class="stepForm__input">
        <div class="stepForm__input__label">Name<span class="stepForm__input__required">*</span></div>
        <valid-input v-require="true" ng-model="switch.name" v-rpcid="page_device_1" ></valid-input>
        <!--<input class="stepForm__input__text" name="name" type="text" ng-blur="nameChange=true" ng-model="switch.name" ng-required="true"/>-->
        <!--<span class="stepForm__input__error" ng-show="wizardForm.name.$invalid && nameChange">必填项</span>-->
    </div>
    <div class="stepForm__input">
        <div class="stepForm__input__label">Protocol<span class="stepForm__input__required">*</span></div>

        <valid-input v-require="true" v-list="protocals-datalist" ng-model="switch.protocol" v-rpcid="page_device_1" ></valid-input>
        <!--<input class="stepForm__input__text" list="protocals-datalist" name="protocol" type="text" ng-blur="protocalChange=true" ng-model="switch.protocol" ng-required="true"/>-->
        <datalist id="protocals-datalist">
            <option ng-value="protocol" ng-repeat="protocol in protocols"/>
        </datalist>
        <span class="stepForm__input__error" ng-show="wizardForm.protocol.$invalid && protocalChange" ng-bind="::'COMPONENT.DEVICEWIZARD.INPUT.REQUIRED' | translate"></span>
    </div>
    <div class="stepForm__input">
        <div class="stepForm__input__label">Mac Address</div>
        <!--<mdl-select ng-model="mac_address" name="mac_address"-->
        <!--display-label="{ options: [{label: '男1', value: '0'}, {label: '男2', value: '1'}]}">-->
        <!--</mdl-select>-->
        <valid-input v-require="true" ng-model="switch.mac_address" v-rpcid="page_device_1" v-regex="mac_regex" v-message="{{ 'MODULES.REGEX.FLOW_ADD.MAC' | translate}}"></valid-input>

        <!--<input class="stepForm__input__text" name="mac" list="mac_addresses_datalist" ng-blur="macChange=true" ng-model="switch.mac_address" ng-pattern="mac_regex"/>-->
        <!--<datalist id="mac_addresses_datalist">-->
            <!--<option ng-value="mac" ng-repeat="mac in mac_addresses"/>-->
        <!--</datalist>-->
        <!--<div class="stepForm__input__annotaions">-->
            <!--Choose a value for a known switch with no assigned fabric role, or enter a value expected to come online in the future.-->
        <!--</div>-->
    </div>
    <div class="stepForm__input">
        <div class="stepForm__input__label">ManagementAddress & Port<span class="stepForm__input__required">*</span></div>
        <valid-input v-require="true" v-span="true" v-style='{"width":"70%"}' ng-model="switch.managementAddress" v-regex="ip_regex" v-message="{{ 'MODULES.REGEX.FLOW_ADD.IP' | translate}}" v-rpcid="page_device_1" ></valid-input>
        <!--<input class="stepForm__input__text-prefix" name="managementAddress" type="text" ng-model="switch.managementAddress" ng-required="true" ng-blur="addressChange=true" ng-pattern="ip_regex"/>-->
        <span class="stepForm__input__separator">&nbsp;:&nbsp;</span>
        <valid-input v-require="true" v-span="true" v-style='{"width":"20%"}' ng-model="switch.port" v-regex="num_regex" v-message="{{ 'MODULES.REGEX.FLOW_ADD.PORT' | translate}}" v-rpcid="page_device_1" ></valid-input>
        <!--<input class="stepForm__input__text-postfix" name="port" type="number" ng-blur="portChange=true" ng-model="switch.port" ng-required="true" min="0" max="65535"/>-->
        <!--<span class="stepForm__input__error" ng-show="wizardForm.managementAddress.$invalid && addressChange">IP地址无效</span>-->
        <!--<span class="stepForm__input__error" ng-show="wizardForm.port.$invalid && portChange">端口无效</span>-->
    </div>
    <div class="stepForm__input">
        <div class="stepForm__input__label">Rack Id</div>
        <input class="stepForm__input__text" name="rack_id" type="text" ng-model="switch.rack_id"/>
    </div>
    <div class="stepForm__input" ng-if="switch.protocol == 'SNMP'">
        <div class="stepForm__input__label">Community</div>
        <!--<input class="stepForm__input__text" name="community" type="text" ng-model="switch.community"/>-->
        <valid-input v-require="true"  ng-model="switch.community" v-rpcid="page_device_1" ></valid-input>
    </div>
    <div class="stepForm__input">
        <div class="stepForm__input__label">Manufacturer</div>
        <input class="stepForm__input__text" name="mfr" ng-value="switch.protocol == 'Rest' ? 'Accton' : switch.mfr" type="text" ng-model="switch.mfr"/>
    </div>
    <div class="stepForm__input">
        <div class="stepForm__input__label" style="text-decoration: underline">Admin Status<span class="stepForm__input__required">*</span></div>
        <mdl-switch ng-model="switch.admin_status" name="status" ng-blur="statusChange=true"
                    display-label="{on: 'Down', off: 'Up', id: 'status'}">
        </mdl-switch>
        <span class="stepForm__input__error" ng-show="wizardForm.status.$invalid && statusChange" ng-bind="::'COMPONENT.DEVICEWIZARD.INPUT.REQUIRED' | translate"></span>
    </div>
    <div class="stepForm__input">
        <div class="stepForm__input__label" style="text-decoration: underline">Fabric Role</div>
        <mdl-radio ng-model="switch.fabric_role" name="role" value="spine"
                   display-label="{id: 'check_2', label: 'Spine', name: 'role', value: 'spine'}">
        </mdl-radio>
        <mdl-radio ng-model="switch.fabric_role" name="role" value="leaf"
                   display-label="{id: 'check_1', label: 'Leaf', name: 'role', value: 'leaf'}">
        </mdl-radio>
        <mdl-radio ng-model="switch.fabric_role" name="role" value="unknown"
                   display-label="{id: 'check_3', label: 'None', name: 'role', value: 'unknown'}">
        </mdl-radio>
    </div>
    <!--<div class="stepForm__input" ng-if="switch.fabric_role == 'leaf'">-->
        <!--<div class="stepForm__input__label">Leaf Group</div>-->
        <!--&lt;!&ndash;<input class="stepForm__input__text" ng-model="switch.leaf_group.name"/>&ndash;&gt;-->
        <!--<valid-input v-require="true"  ng-model="switch.leaf_group.name"  v-rpcid="page_device_1" ></valid-input>-->
    <!--</div>-->
    <!--<div class="stepForm__input" ng-if="switch.fabric_role == 'leaf'">-->
        <!--<div class="stepForm__input__label">Switch Port</div>-->
        <!--&lt;!&ndash;<input class="stepForm__input__text" name="switch_port" type="number" ng-blur="switchPortChange=true" ng-model="switch.leaf_group.switch_port" min="0" max="65535"/>&ndash;&gt;-->

        <!--<valid-input v-require="true"  ng-model="switch.leaf_group.switch_port" v-regex="num_regex" v-message="{{ 'MODULES.REGEX.FLOW_ADD.PORT' | translate}}" v-rpcid="page_device_1" ></valid-input>-->
    <!--</div>-->
    <!--<div class="stepForm__input">
        <div class="stepForm__input__label">Description</div>
        <textarea class="stepForm__input__textarea" name="description" ng-model="switch.description" class="stepForm__input__textarea" resize="false"></textarea>
    </div>-->
</div>