//@import 'xbem';
@import 'default';
@import 'shared';

.mdc-tab-bar.main__content__device-tabs{
  margin: 0;
  width: 160px;
}

@include block(topo_setting){


}

//3联动才能使样式置顶
.\+front.mdc-button.topo_setting__button{
  margin: 0;
  padding: 0;
  min-width: 32px;
  width:32px;
  height:32px;
  color: black;
}

.\+show.mdc-button.topo_setting__button{
  border: 1px solid lightgray;
  background-color: lightgray;
}

@include block(detail_summary){
  @include element(body){
    display: inline;
    font-size:16px;
    font-family: "helvetica neue","Roboto",helvetica,arial,verdana,"trebuchet ms",calibri,sans-serif;
    color:black;
    white-space: nowrap;

    @include modifier(right){
      display:inline-block;

      div{
        padding-top: 4px;
        padding-left:8px;
      }
    }

    @include modifier(left){
      text-transform: capitalize;
      display:inline-block;
      text-align: right;
      font-weight:300;
      div{
        text-align: right;
        padding-top:4px;
      }
    }
  }
}



