<div class="flex_entirety elasticsearch">
    <mdl-header></mdl-header>

    <div class="flex_entirety__body">
        <content-header big-title="{{pageTitle}}">
            <a href="/">Mars Cloud</a>
            <span>•</span>
            <span ng-bind="::'MODULE.HEADER.MANAGE.ANALYZER' | translate"></span>
        </content-header>

        <div class="flex_entirety__body__body dashboard__body">
            <div class="mars-row">
                <div class="mars-row-flex">
                    <div class="left-panel mars-panel" style="width:100%;position:relative;padding-top:12px;">
                        <div class="chart_title">
                            <span style="font-weight: bold;">{{"MODULES.MANAGE.ELASTICSEARCH.API_DETAIL_COUNT_ANY" | translate}}</span>
                        </div>
                        <div>
                            <canvas id="nginx-analyzer-line" height="350"
                                    class="chart chart-line"
                                    chart-type="line"
                                    chart-data="nginxTimerangeAnalyzer.chartConfig.data"
                                    chart-labels="nginxTimerangeAnalyzer.chartConfig.labels"
                                    chart-series="nginxTimerangeAnalyzer.chartConfig.series"
                                    chart-fill="false"
                                    chart-options="nginxTimerangeAnalyzer.chartConfig.options"
                                    chart-click="nginxTimerangeAnalyzer.chartConfig.onClick"
                                    chart-hover="nginxTimerangeAnalyzer.chartConfig.onHover">
                            </canvas>
                        </div>

                        <div class="setting-group out_title">
                            <mdl-select disable="nginxTimerangeAnalyzer.loading || nginxTimerangeAnalyzer.isRealtime" ng-model="nginxTimerangeAnalyzer.selectedIpOption"
                                        display-label="{options: nginxTimerangeAnalyzer.ipOptions}"
                                        ng-change="nginxIpSelect($value)">
                            </mdl-select>
                            <div class="item" title="{{'MODULES.DASHBOARD.REFRESH'|translate}}" ng-class="{'+disable': nginxTimerangeAnalyzer.loading || nginxTimerangeAnalyzer.isRealtime}" ng-click="refresh('nginx-analyzer')"><i class="material-icons">refresh</i></div>
                            <div class="item" title="{{nginxTimerangeAnalyzer.isRealtime ? HISTORY_DATA : REALTIME_DATA}}" ng-class="{'+disable': nginxTimerangeAnalyzer.loading}"  ng-click="realtime('nginx-analyzer')"><i class="material-icons">{{nginxTimerangeAnalyzer.isRealtime ? 'pause' : 'play_arrow'}}</i></div>
                            <div class="item" title="{{'MODULES.DASHBOARD.RESTORE'|translate}}" ng-class="{'+disable': nginxTimerangeAnalyzer.isRealtime || nginxTimerangeAnalyzer.loading}" ng-click="nginxTimerangeAnalyzer.isRealtime || resetTimeScale('nginx-analyzer')"><i class="material-icons">undo</i></div>
                            <div class="item" title="{{'MODULES.DASHBOARD.SETTING'|translate}}" ng-class="{'+disable': nginxTimerangeAnalyzer.isRealtime || nginxTimerangeAnalyzer.loading}" ng-click="nginxTimerangeAnalyzer.isRealtime || chartSetting('nginx-analyzer')"><i class="material-icons">settings</i></div>
                        </div>

                        <loading is-loading="nginxTimerangeAnalyzer.loading" png-size="60" style="position: absolute;"></loading>
                    </div>
                    <!--<div class="col-gutter-md right-panel">-->
                        <!--<canvas id="nginx-analyzer-piechart" height="250"-->
                                <!--class="chart chart-pie"-->
                                <!--chart-type="pie"-->
                                <!--chart-data="nginxTimerangeAnalyzer.pieChartConfig.data"-->
                                <!--chart-labels="nginxTimerangeAnalyzer.pieChartConfig.labels"-->
                                <!--chart-options="nginxTimerangeAnalyzer.pieChartConfig.options">-->
                        <!--</canvas>-->
                    <!--</div>-->
                </div>

                <div class="mars-row-flex">
                    <div class="left-panel mars-panel" style="width:100%;position:relative;padding-top:12px;">
                        <div class="chart_title">
                            <span style="font-weight: bold;">{{'MODULES.MANAGE.ELASTICSEARCH.API_DETAIL_ANY' | translate}}</span>
                        </div>
                        <div>
                            <canvas id="nginx-type-bar" height="350"
                                    class="chart chart-bar"
                                    chart-type="bar"
                                    chart-data="nginxTypeAnalyzer.chartConfig.data"
                                    chart-labels="nginxTypeAnalyzer.chartConfig.labels"
                                    chart-colors="nginxTypeAnalyzer.chartConfig.colors"
                                    chart-fill="false"
                                    chart-series="nginxTypeAnalyzer.chartConfig.series"
                                    chart-options="nginxTypeAnalyzer.chartConfig.options">
                            </canvas>
                        </div>

                        <div class="setting-group out_title">
                            <mdl-select disable="nginxTypeAnalyzer.loading" ng-model="nginxTypeAnalyzer.selectedOption"
                                        display-label="{options: nginxTypeAnalyzer.typesOptions}"
                                        ng-change="nginxTypeSelect($value)">
                            </mdl-select>
                            <div class="item" ng-class="{'+disable': nginxTypeAnalyzer.loading}" title="{{'MODULES.DASHBOARD.REFRESH'|translate}}" ng-click="refresh('nginx-type-analyzer')"><i class="material-icons">refresh</i></div>
                            <div class="item" ng-class="{'+disable': nginxTypeAnalyzer.loading}" title="{{'MODULES.DASHBOARD.SETTING'|translate}}" ng-click="chartSetting('nginx-type-analyzer')"><i class="material-icons">settings</i></div>
                        </div>

                        <loading is-loading="nginxTypeAnalyzer.loading" png-size="60" style="position: absolute;"></loading>
                    </div>
                </div>

                <div class="mars-row-flex">
                    <div class="left-panel mars-panel" style="width:100%;position:relative;padding-top:12px;">
                        <div class="chart_title">
                            <span style="font-weight: bold;">{{'MODULES.MANAGE.ELASTICSEARCH.SYSLOG_DETAIL_ANY' | translate}}</span>
                        </div>
                        <div>
                            <canvas id="syslog-analyzer-line" height="350"
                                    class="chart chart-line"
                                    chart-type="line"
                                    chart-data="syslogAnalyzer.chartConfig.data"
                                    chart-labels="syslogAnalyzer.chartConfig.labels"
                                    chart-series="syslogAnalyzer.chartConfig.series"
                                    chart-fill="false"
                                    chart-options="syslogAnalyzer.chartConfig.options"
                                    chart-click="syslogAnalyzer.chartConfig.onClick"
                                    chart-hover="syslogAnalyzer.chartConfig.onHover">
                            </canvas>
                        </div>

                        <div class="setting-group out_title">
                            <div class="item" ng-class="{'+disable': syslogAnalyzer.loading}" title="{{'MODULES.DASHBOARD.REFRESH'|translate}}" ng-click="refresh('syslog-analyzer')"><i class="material-icons">refresh</i></div>
                            <div class="item" ng-class="{'+disable': syslogAnalyzer.loading}" title="{{'MODULES.DASHBOARD.RESTORE'|translate}}" ng-click="resetTimeScale('syslog-analyzer')"><i class="material-icons">undo</i></div>
                            <div class="item" ng-class="{'+disable': syslogAnalyzer.loading}" title="{{'MODULES.DASHBOARD.SETTING'|translate}}" ng-click="chartSetting('syslog-analyzer')"><i class="material-icons">settings</i></div>
                        </div>

                        <loading is-loading="syslogAnalyzer.loading" png-size="60" style="position: absolute;"></loading>
                    </div>
                    <!--<div class="col-gutter-md right-panel">-->
                        <!--<canvas id="syslog-analyzer-piechart" height="250"-->
                                <!--class="chart chart-pie"-->
                                <!--chart-type="pie"-->
                                <!--chart-data="syslogAnalyzer.pieChartConfig.data"-->
                                <!--chart-labels="syslogAnalyzer.pieChartConfig.labels"-->
                                <!--chart-options="syslogAnalyzer.pieChartConfig.options">-->
                        <!--</canvas>-->
                    <!--</div>-->
                </div>

                <div class="mars-row-flex">
                    <div class="left-panel mars-panel" style="width:100%;position:relative;padding-top:12px;">
                        <div class="chart_title">
                            <span style="font-weight: bold;">{{'MODULES.MANAGE.ELASTICSEARCH.SYSTEM_DETAIL_ANY' | translate}}</span>
                        </div>
                        <div>
                            <canvas id="filebeat-analyzer-line" height="350"
                                    class="chart chart-line"
                                    chart-type="line"
                                    chart-data="filebeatAnalyzer.chartConfig.data"
                                    chart-labels="filebeatAnalyzer.chartConfig.labels"
                                    chart-series="filebeatAnalyzer.chartConfig.series"
                                    chart-fill="false"
                                    chart-options="filebeatAnalyzer.chartConfig.options"
                                    chart-click="filebeatAnalyzer.chartConfig.onClick"
                                    chart-hover="filebeatAnalyzer.chartConfig.onHover">
                            </canvas>
                        </div>

                        <div class="setting-group out_title">
                            <mdl-select disable="filebeatAnalyzer.loading" ng-model="filebeatAnalyzer.selectedOption"
                                        display-label="{options: filebeatAnalyzer.typesOptions}"
                                        ng-change="filebeatTypeSelect($value)">
                            </mdl-select>
                            <div class="item" ng-class="{'+disable': filebeatAnalyzer.loading}"  title="{{'MODULES.DASHBOARD.REFRESH'|translate}}" ng-click="refresh('filebeat-analyzer')"><i class="material-icons">refresh</i></div>
                            <div class="item" ng-class="{'+disable': filebeatAnalyzer.loading}"  title="{{'MODULES.DASHBOARD.RESTORE'|translate}}" ng-click="resetTimeScale('filebeat-analyzer')"><i class="material-icons">undo</i></div>
                            <div class="item" ng-class="{'+disable': filebeatAnalyzer.loading}"  title="{{'MODULES.DASHBOARD.SETTING'|translate}}" ng-click="chartSetting('filebeat-analyzer')"><i class="material-icons">settings</i></div>
                        </div>

                        <loading is-loading="filebeatAnalyzer.loading" png-size="60" style="position: absolute;"></loading>
                    </div>
                    <!--<div class="col-gutter-md right-panel">-->
                        <!--<canvas id="filebeat-analyzer-piechart" height="250"-->
                                <!--class="chart chart-pie"-->
                                <!--chart-type="pie"-->
                                <!--chart-data="filebeatAnalyzer.pieChartConfig.data"-->
                                <!--chart-labels="filebeatAnalyzer.pieChartConfig.labels"-->
                                <!--chart-options="filebeatAnalyzer.pieChartConfig.options">-->
                        <!--</canvas>-->
                    <!--</div>-->
                </div>
            </div>
        </div>

        <chart-tooltip></chart-tooltip>
    </div>
</div>
