<div class="flex_entirety elasticsearch">
    <mdl-header></mdl-header>

    <div class="flex_entirety__body">
        <content-header big-title="{{pageTitle}}">
            <a href="/">Mars Cloud</a>
            <span>•</span>
            <span ng-bind="::'MODULE.HEADER.MANAGE.ELASTICSEARCH' | translate"></span>
        </content-header>

        <div class="flex_entirety__body__body dashboard__body">
            <div class="mars-row">
                <div class="mars-row-flex">
                    <div class="col-gutter-md" style="width:100%;position:relative;">
                        <canvas id="elasticsearch-indice-summary" height="350"
                                class="chart chart-bar"
                                chart-type="bar"
                                chart-data="indiceSummaryChartConfig.data"
                                chart-labels="indiceSummaryChartConfig.labels"
                                chart-colors="indiceSummaryChartConfig.colors"
                                chart-series="indiceSummaryChartConfig.series"
                                chart-options="indiceSummaryChartConfig.options"
                                chart-click="indiceSummaryChartConfig.onClick">
                        </canvas>

                        <div class="setting-group" ng-show="!elasticsearchModel.summaryLoading">
                            <div class="item" title="{{'MODULES.MANAGE.ELASTICSEARCH.BACKUP'|translate}}" ng-click="backup()"><i class="material-icons">backup</i></div>
                        </div>
                        <!--<div style="margin:0 auto;width:500px;">-->
                            <!--<div style="display:inline-block;margin-top:20px;margin-left: 90px;">-->
                                <!--<mar-button btn-style="'width:150px;'" btn-text="::'MODULES.MANAGE.ELASTICSEARCH.BUTTON.BACKUP' | translate" btn-class="'btn-white btn-lg'" btn-icon="'backup'" btn-click="backup()" btn-disabled="loading" />-->
                            <!--</div>-->
                            <!--<div style="display:inline-block;margin-top:20px;margin-left: 20px">-->
                                <!--<mar-button btn-style="'width:150px;'" btn-text="::'MODULES.MANAGE.ELASTICSEARCH.BUTTON.DOWNLOAD' | translate" btn-class="'btn-black btn-lg'" btn-icon="'cloud_download'" btn-click="download()" btn-disabled="loading" />-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>

                    <div class="chart-loading" ng-show="elasticsearchModel.summaryLoading"></div>
                </div>

                <div class="mars-row-flex">
                    <div class="col-gutter-md" style="width:100%;position:relative;">
                        <canvas id="elasticsearch-indice-analyzer" height="350"
                                class="chart chart-line"
                                chart-type="line"
                                chart-fill="true"
                                chart-data="indiceAnalyzerChartConfig.data"
                                chart-labels="indiceAnalyzerChartConfig.labels"
                                chart-series="indiceAnalyzerChartConfig.series"
                                chart-options="indiceAnalyzerChartConfig.options"
                                chart-click="indiceAnalyzerChartConfig.onClick"
                                chart-hover="indiceAnalyzerChartConfig.onHover">
                        </canvas>

                        <div class="setting-group" ng-show="!elasticsearchModel.analyzerLoading">
                            <mdl-select ng-model="elasticsearchModel.indiceSelectedOption"
                                        display-label="{options: elasticsearchModel.indiceOptions}"
                                        disable="loading"
                                        ng-change="indiceSelect($value)">
                            </mdl-select>
                            <div class="item" title="{{'MODULES.MANAGE.ELASTICSEARCH.RESTORE'|translate}}" ng-click="resetTimeScale()"><i class="material-icons">undo</i></div>
                            <div class="item" title="{{'MODULES.MANAGE.ELASTICSEARCH.CLEAR'|translate}}" ng-click="clear()"><i class="material-icons">delete_forever</i></div>
                        </div>
                        <!--<div style="margin-top:20px;margin-left: 180px;">-->
                            <!--<mar-button btn-style="'width:200px;background:#0077cb;'" btn-text="::'MODULES.MANAGE.ELASTICSEARCH.BUTTON.REMOVE' | translate" btn-class="'btn-black btn-lg'" btn-icon="'delete_forever'" btn-click="clear()" btn-disabled="loading" />-->
                        <!--</div>-->
                    </div>

                    <div class="chart-loading" ng-show="elasticsearchModel.analyzerLoading"></div>
                </div>

                <div class="mars-row-flex">
                    <div class="col-gutter-md left-panel">
                        <canvas id="nginx-analyzer-line" height="350"
                                class="chart chart-line"
                                chart-type="line"
                                chart-data="nginxTimerangeAnalyzer.chartConfig.data"
                                chart-labels="nginxTimerangeAnalyzer.chartConfig.labels"
                                chart-series="nginxTimerangeAnalyzer.chartConfig.series"
                                chart-fill="false"
                                chart-options="nginxTimerangeAnalyzer.chartConfig.options"
                                chart-click="nginxTimerangeAnalyzer.chartConfig.onClick"
                                chart-hover="nginxTimerangeAnalyzer.chartConfig.onHover">
                        </canvas>

                        <div class="setting-group" ng-if="!nginxTimerangeAnalyzer.loading">
                            <mdl-select ng-model="nginxTimerangeAnalyzer.selectedIpOption"
                                        display-label="{options: nginxTimerangeAnalyzer.ipOptions}"
                                        ng-change="nginxIpSelect($value)">
                            </mdl-select>
                            <div class="item" title="{{'MODULES.DASHBOARD.SETTING'|translate}}" ng-click="chartSetting('nginx-timerange')"><i class="material-icons">settings</i></div>
                            <div class="item" title="{{'MODULES.DASHBOARD.RESTORE'|translate}}" ng-click="resetTimeScale('nginx-timerange')"><i class="material-icons">undo</i></div>
                        </div>
                    </div>
                    <div class="col-gutter-md right-panel">
                        <canvas id="nginx-analyzer-piechart" height="250"
                                class="chart chart-pie"
                                chart-type="pie"
                                chart-data="nginxTimerangeAnalyzer.pieChartConfig.data"
                                chart-labels="nginxTimerangeAnalyzer.pieChartConfig.labels"
                                chart-options="nginxTimerangeAnalyzer.pieChartConfig.options">
                        </canvas>
                    </div>

                    <div class="chart-loading" ng-show="nginxTimerangeAnalyzer.loading"></div>
                </div>

                <div class="mars-row-flex">
                    <div class="col-gutter-md" style="width:100%;position:relative;">
                        <canvas id="nginx-type-bar" height="350"
                                class="chart chart-bar"
                                chart-type="bar"
                                chart-data="nginxTypeAnalyzer.chartConfig.data"
                                chart-labels="nginxTypeAnalyzer.chartConfig.labels"
                                chart-colors="nginxTypeAnalyzer.chartConfig.colors"
                                chart-fill="false"
                                chart-series="nginxTypeAnalyzer.chartConfig.series"
                                chart-options="nginxTypeAnalyzer.chartConfig.options">
                        </canvas>

                        <div class="setting-group" ng-show="!nginxTypeAnalyzer.loading">
                            <mdl-select ng-model="nginxTypeAnalyzer.selectedOption"
                                        display-label="{options: nginxTypeAnalyzer.typesOptions}"
                                        ng-change="nginxTypeSelect($value)">
                            </mdl-select>
                            <div class="item" title="{{'MODULES.DASHBOARD.SETTING'|translate}}" ng-click="chartSetting('nginx-type')"><i class="material-icons">settings</i></div>
                            <div class="item" title="{{'MODULES.DASHBOARD.RESTORE'|translate}}" ng-click="resetTimeScale('nginx-type')"><i class="material-icons">undo</i></div>
                        </div>
                    </div>

                    <div class="chart-loading" ng-show="nginxTypeAnalyzer.loading"></div>
                </div>

                <div class="mars-row-flex">
                    <div class="col-gutter-md left-panel">
                        <canvas id="syslog-analyzer-line" height="350"
                                class="chart chart-line"
                                chart-type="line"
                                chart-data="syslogAnalyzer.chartConfig.data"
                                chart-labels="syslogAnalyzer.chartConfig.labels"
                                chart-series="syslogAnalyzer.chartConfig.series"
                                chart-fill="false"
                                chart-options="syslogAnalyzer.chartConfig.options"
                                chart-click="syslogAnalyzer.chartConfig.onClick"
                                chart-hover="syslogAnalyzer.chartConfig.onHover">
                        </canvas>

                        <div class="setting-group" ng-show="!syslogAnalyzer.loading">
                            <div class="item" title="{{'MODULES.DASHBOARD.SETTING'|translate}}" ng-click="chartSetting('syslog-timerange')"><i class="material-icons">settings</i></div>
                            <div class="item" title="{{'MODULES.DASHBOARD.RESTORE'|translate}}" ng-click="resetTimeScale('syslog-timerange')"><i class="material-icons">undo</i></div>
                        </div>
                    </div>
                    <div class="col-gutter-md right-panel">
                        <canvas id="syslog-analyzer-piechart" height="250"
                                class="chart chart-pie"
                                chart-type="pie"
                                chart-data="syslogAnalyzer.pieChartConfig.data"
                                chart-labels="syslogAnalyzer.pieChartConfig.labels"
                                chart-options="syslogAnalyzer.pieChartConfig.options">
                        </canvas>
                    </div>

                    <div class="chart-loading" ng-show="syslogAnalyzer.loading"></div>
                </div>

                <div class="mars-row-flex">
                    <div class="col-gutter-md left-panel">
                        <canvas id="filebeat-analyzer-line" height="350"
                                class="chart chart-line"
                                chart-type="line"
                                chart-data="filebeatAnalyzer.chartConfig.data"
                                chart-labels="filebeatAnalyzer.chartConfig.labels"
                                chart-series="filebeatAnalyzer.chartConfig.series"
                                chart-fill="false"
                                chart-options="filebeatAnalyzer.chartConfig.options"
                                chart-click="filebeatAnalyzer.chartConfig.onClick"
                                chart-hover="filebeatAnalyzer.chartConfig.onHover">
                        </canvas>

                        <div class="setting-group" ng-show="!filebeatAnalyzer.loading">
                            <mdl-select ng-model="filebeatAnalyzer.selectedOption"
                                        display-label="{options: filebeatAnalyzer.typesOptions}"
                                        ng-change="filebeatTypeSelect($value)">
                            </mdl-select>
                            <div class="item" title="{{'MODULES.DASHBOARD.SETTING'|translate}}" ng-click="chartSetting('filebeat-timerange')"><i class="material-icons">settings</i></div>
                            <div class="item" title="{{'MODULES.DASHBOARD.RESTORE'|translate}}" ng-click="resetTimeScale('filebeat-timerange')"><i class="material-icons">undo</i></div>
                        </div>
                    </div>
                    <div class="col-gutter-md right-panel">
                        <canvas id="filebeat-analyzer-piechart" height="250"
                                class="chart chart-pie"
                                chart-type="pie"
                                chart-data="filebeatAnalyzer.pieChartConfig.data"
                                chart-labels="filebeatAnalyzer.pieChartConfig.labels"
                                chart-options="filebeatAnalyzer.pieChartConfig.options">
                        </canvas>
                    </div>

                    <div class="chart-loading" ng-show="filebeatAnalyzer.loading"></div>
                </div>
            </div>
        </div>
    </div>
</div>
