<div class="column-manipulation-field">
 	<div class="column-manipulation-field__header">
		<span class="column-manipulation-field__title"
          ng-bind="'MODULES.MANAGE.ELASTICSEARCH.BUTTON.DOWNLOAD'|translate"></span>
 	</div>
 	<form class="dateRange__form" name="dialogModel.form" autocomplete="off" novalidate>
		<div class="column-manipulation-field__content elasticsearch-csv-file">
			<div class="conditions">
				<p style="font-size: 12px;color:red" ng-show="errMsg" ng-bind="errMsg"></p>

				<div>
					<div class="label" style="display: inline-block">设置Query条件(选填):</div>
					<div class="query" ng-show="chartModel.option" jsoneditor ng-model="chartModel.query" options="options" prefix-text="true"></div>
				</div>
			</div>
		</div>
	 	<div class="column-manipulation-field__footer">
			<div style="display: inline-block;float: right; margin-left: 15px;">
				<mar-button btn-text="::'MODULES.MANAGE.ELASTICSEARCH.BUTTON.DOWNLOAD' | translate" btn-type="'cloud_download'" btn-icon="'done'" btn-class="'btn-white btn-sm'" btn-click="generate($event)" btn-disabled="globalInvalid" />
			</div>

			<div style="display: inline-block;float: right;">
				<mar-button btn-text="::'MODULES.TABLE.COLUMN.CANCEL' | translate" btn-icon="'clear'" btn-class="'btn-black btn-sm'" btn-click="cancel($event)" />
			</div>
	    </div>
	</form>
 </div>