$grid-size: 12;
html{
  height:100%;
  width: 100%;
  
  body{
    height: 100%;
    width: 100%;
    min-width: 980px;
    overflow: auto;
    margin: 0;
  };
}

a {
  text-decoration: none;
}
ul {
  padding: 0;
}
i {
  font-style: normal;
}
body{
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
}
tbody{
  overflow-y: auto;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.6);
  transition: background-color 9999s ease-in-out 0s;
}
.app-main:before, .app-main:after{
  content: " ";
  display: table;
}
.app-main:after{
  clear: both;
}
.app-main{
  display: flex;
  flex-direction: column;
  height: calc(100% - 50px);
  min-height: 450px;
  overflow: auto;
}
.app-body{
  height:100%;
  display: flex;
}
.main__title{
  height: 48px;
  padding: 12px 24px;
  align-items: center;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.section-3-2{
  width: 66%;
}
.section-3-1{
  width: 33%;
  overflow-y: auto;
  padding: 24px;
  border-left: 1px solid lightgray;
  /* margin-bottom: 50px; */
  overflow-x: hidden;
}
.main__content{
  display: flex;
  overflow: hidden;
  //padding: 20px 20px 0;
  padding: 24px;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.main__content__full-width{
  width: 100%;
  height: auto;
}
.hide{
  display: none;
}
.text-center{
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.tab-content{
  position: relative;
  float: left;
  height: 100%;
  width: 100%;
}
.mars-row {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  height: auto;
  width: 100%;
  box-sizing: border-box;
}
.mars-row-flex{
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 16px;
}
.mars-row-flex-space-between{
  justify-content: space-between;
}
.mars-col-6{
  display: block;
  box-sizing: border-box;
  width: 25%;
}
.mars-col-8{
  display: block;
  box-sizing: border-box;
  width: 33.33333333%;
}
.mars-col-12{
  display: block;
  box-sizing: border-box;
  width: 50%;
}
.mars-col-16{
  display: block;
  box-sizing: border-box;
  width: 66.66666667%;
}
.mars-col-24{
  display: block;
  box-sizing: border-box;
  width: 100%;
}
.col-gutter-xs{
  padding: 8px;
}
.col-gutter-sm{
  padding: 16px;
}
.col-gutter-md{
  padding: 24px;
}
.col-gutter-lg{
  padding: 32px;
}
.language-location{
  position: absolute;
  right: 0;
  top: 0;
  padding: 24px;
}
.language-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.language-wrapper span{
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}
.language-base{
  height: 48px;
  width: 48px;
  background-size: 48px 48px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: background-image 1s ease-in-out;
}
.language-base_en{
  background-image: url('../../assets/images/en.png');
}
.language-base_cn{
  background-image: url('../../assets/images/cn.png');
}
.navbar-inner__right .language-base{
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  margin-right: 20px;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active{
 -webkit-text-fill-color: inherit; 
}
@include block(column) {
  @for $index-alpha from 1 to $grid-size {
    @for $index-beta from 1 through $grid-size {
      //basic common sense columns
      //column__var1__var2
      //example:  col__2__3  + col__1__3  make a full row  2/3 + 1/3 = 3/3 = 1
      //example: col__1__4 + col__2__4 + col__1__4  make a full row  1/4 + 2/4 + 1/4 = 4/4 = 1
      @include element(#{#{$index-alpha}__#{$index-beta}}) {
        width: round(percentage($index-alpha / $index-beta));
        display: flex;
        flex-grow: 1;

        @include modifier(paddingleft) {
          padding-left: 20px;
        }

        @include modifier(chordcontainer) {
          padding-left: 20px;
          padding-right: 20px;
          flex-direction: column;
        }

        @include modifier(marginbottom) {
          margin-bottom: 8px;
        }

        @include modifier(dircolumn) {
          flex-direction: column;
        }

        @include state(hasborder) {
          border-left: 1px solid rgba(0, 0, 0, 0.3);
          /*box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);*/
        }

        @include state(hasscroll) {
          flex-direction: column;
          overflow-y: auto;
        }

        @include state(haslimit) {
          max-width: 528px;
          min-width: 528px;
        }

        @include state(hashidden) {
          display: none;
        }
      }
    }
  }
}