<div class="column-filter-field">
	<mdl-button ng-click="_showHideDetail($event)" size="tableSize" ng-class="{show: show}"
					icon-name="filter_list"></mdl-button>

	<script type="text/ng-template" id="columns-filter-list.html">
	  <div class="columns-field" ng-show="show">
	  	<div class="columns-field__title"><span ng-bind="'MODULES.TABLE.FILTER.ADVANCED'|translate"></span></div>
	  	<div class="columns-field__content">
				<div class="filter-item" ng-repeat="item in collections track by $index">
					<mdl-select ng-model="item.column" display-label="{options: columnFields}"></mdl-select>
					<mdl-select ng-model="item.compare" display-label="{options: compareFields}"></mdl-select>
					<mdl-text ng-model="item.value"></mdl-text>
					<mdl-button ng-click="_removeCollection($index)" size="tableSize" 
										icon-name="remove"></mdl-button>
				</div>
	  	</div>
	  	<div class="columns-field__footer">
	  		<mar-button btn-text="'MODULES.TABLE.FILTER.ADD_CONDITION'|translate" btn-class="'btn-sm'"
	  								btn-disabled="collections.length > 2" btn-click="_addCollection($event)"></mar-button>
	  		<mar-button btn-text="'MODULES.TABLE.FILTER.CANCEL'|translate" btn-class="'btn-sm'" btn-click="_cancel($event)"></mar-button>						
	  		<mar-button btn-text="'MODULES.TABLE.FILTER.SUBMIT'|translate" btn-class="'btn-sm'" btn-click="_result($event)"></mar-button>
	  	</div>
	  	<!-- <mdl-radio ng-model="selectedColumn" ng-repeat="item in columnFields track by $index"
	  					on-click="_changeSelectedColumn($value)"
	  		            display-label="{id: $index, label: item.label, name: 'radio_1', value: item.value}">
	  				</mdl-radio> -->
	 </div>
	</script>					
</div>