<div class="table-td-field">
  <div class="mdc-checkbox" ng-click="_clicked($event)">
    <input type="checkbox"
           class="mdc-checkbox__native-control table-td-field__row-checkbox"/>
    <div class="mdc-checkbox__background table-checkbox__modify" style="border-color: rgba(255, 255, 255, 0.6)">
      <svg class="mdc-checkbox__checkmark"
           viewBox="0 0 24 24">
        <path class="mdc-checkbox__checkmark-path"
              fill="none"
              stroke="white"
              d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
      </svg>
      <div class="mdc-checkbox__mixedmark"></div>
    </div>
  </div>
</div>