<div class="wizard__body__input instruction">
    <div class="instruction__header">
        <mdl-select ng-model="flowEstablishModel.instructionType"
                    display-label="instructionSchemaList">
        </mdl-select>
        <div class="instruction__header__action">
            <mdl-button ng-click="addInstruction()" icon-name="add"></mdl-button>
        </div>
    </div>
    <div id="instruction_list" class="instruction__body">
        <div class="instruction__body__item"  ng-repeat="instruction in instructionsModel">
            <mdl-button class="remove" ng-click="removeInstruction(instruction.uuid)" icon-name="remove_circle" size='small'></mdl-button>
            <table>
                <tr>
                    <td><div class="wizard__body__input__label instruction_line stepForm__input__label" >Type</div></td>
                    <td><div class="wizard__body__input__label instruction_line stepForm__input__label">{{instruction.type}}</div></td>
                </tr>
                <tr ng-repeat="item in instruction.content">
                    <td><div class="wizard__body__input__label instruction_line stepForm__input__label">{{item.field}}</div></td>
                    <td>
                        <div class="instruction_line" ng-if="item.type=='string'">
                            <input class="wizard__body__input__text stepForm__input__text" type="text" ng-required="true" ng-model="item.value"/>
                        </div>
                        <div class="instruction_line" ng-if="item.type=='int'">
                            <input class="wizard__body__input__text "stepForm__input__text type="text" ng-required="true" ng-model="item.value" ng-pattern="num_regex"/>
                        </div>
                        <div class="instruction_line" ng-if="item.type=='object'">
                            <mdl-select ng-model="item.value"
                                        on-init="changeInstructionSelect(instruction.uuid, item, $value)"
                                        ng-change="changeInstructionSelect(instruction.uuid, item, $value)"
                                        display-label="item.display_label">
                            </mdl-select>
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="sub_item in instruction.subtypeList">
                    <td><div class="wizard__body__input__label instruction_line stepForm__input__label">{{sub_item.field}}</div></td>
                    <td>
                        <div class="instruction_line" ng-if="sub_item.type=='string'">
                            <input class="wizard__body__input__text stepForm__input__text" type="text" ng-required="true" ng-model="sub_item.value"/>
                        </div>
                        <div class="instruction_line" ng-if="sub_item.type=='int'">
                            <input class="wizard__body__input__text stepForm__input__text" type="text" ng-required="true" ng-model="sub_item.value" ng-pattern="num_regex"/>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>