/**
 * 页面通用样式
 */
body{
  background-color: map_get($colors, body_background_color);
  color: map_get($colors, body_color);
}

table {
  border-color: map_get($colors, table_border_color);
}

option {
  background: #1a1a1a;
  color: map_get($colors, body_color);
}

tspan{
  //fill: white;
}

.c3 svg{
  background: lightgray;
}