<div class="pfc_establish">


    <div class="stepForm__input" ng-if="isPfcAllPage">
        <div class="stepForm__input__label">{{'MODULES.FABRIC.PFC.DEVICE'|translate}}</div>
        <!--<valid-input ng-if="isEdit == false" v-name="port_no" v-require="true" ng-model="pfcModel.port" v-regex="num_regex" v-message="{{ 'MODULES.REGEX.PFC_ADD.PORT' | translate}}" v-rpcid="page_pfc_es" ></valid-input>-->
        <div ng-if="isEdit == true" style="font-size:15px;">{{device_name}}</div>
        <mdl-select ng-if="isEdit == false" ng-model="pfcModel.deviceSelect"
                    display-label="pfcModel.display">
        </mdl-select>
    </div>

    <div class="stepForm__input">
        <div class="stepForm__input__label">{{'MODULES.FABRIC.PFC.PORT'|translate}}<span class="stepForm__input__required">*</span></div>
        <valid-input ng-if="isEdit == false" v-name="port_no" v-require="true" ng-model="pfcModel.port" v-regex="num_regex" v-message="{{ 'MODULES.REGEX.PFC_ADD.PORT' | translate}}" v-rpcid="page_pfc_es" ></valid-input>
        <div ng-if="isEdit == true" style="font-size:15px;">{{pfcModel.port}}</div>
    </div>

    <div class="stepForm__input multiple_ip">
        <div class="stepForm__input__label">Queue</div>
        <valid-input style="display:inline-block;" ng-model="pfcModel.singleQueue" v-rpcid="page_pfc_es" v-regex="queue_regex" v-message="{{ 'MODULES.REGEX.PFC_ADD.QUEUE' | translate}}"></valid-input>
        <div class="add-btn" ng-click="addQueue()">
            <i class="material-icons">add</i>
        </div>
        <div class="" style="margin-top:5px;" ng-show="pfcModel.queue.length">
            <div class="types-label" ng-repeat="queue in pfcModel.queue">
                <span ng-bind="queue"></span>
                <span class="removeBtn" ng-click="removeSelectedQueue(queue)">-</span>
            </div>
        </div>
    </div>

</div>