<div class="stepForm">
    <div class="stepForm__input">
        <div class="stepForm__input__label">{{::'MODULES.SWITCH.DETAIL.GROUP.INPUT.TYPE' | translate}}<span class="stepForm__input__required">*</span></div>
        <mdl-select ng-model="groupTypeSelected"
                    display-label="groupTypesDisLab">
        </mdl-select>
    </div>


    <div class="bucket-form" ng-if="groupTypeSelected.value == 'OF-Type-0'">
        <div class="title">Bucket</div>
        <div class="stepForm__input">
            <div class="stepForm__input__label">{{::'MODULES.SWITCH.DETAIL.GROUP.INPUT.VLAN_ID' | translate}}<span class="stepForm__input__required">*</span></div>
            <valid-input v-require="true" ng-model="groupModel.vlan_id" v-regex="num_regex" v-rpcid="page_device_1" v-message="{{ 'MODULES.SWITCH.DETAIL.GROUP.INPUT.VLAN_ID.INVALID' | translate}}"></valid-input>
        </div>
        <div class="stepForm__input">
            <div class="stepForm__input__label">{{::'MODULES.SWITCH.DETAIL.GROUP.INPUT.OUTPUT_PORT' | translate}}<span class="stepForm__input__required">*</span></div>
            <valid-input v-require="true" ng-model="groupModel.output_port" v-regex="port_regex" v-rpcid="page_device_1" v-message="{{ 'MODULES.REGEX.FLOW_ADD.PORT' | translate}}"></valid-input>
        </div>
        <div class="stepForm__input">
            <div class="stepForm__input__label">{{::'MODULES.SWITCH.DETAIL.GROUP.INPUT.OPTIONS' | translate}}</div>
            <div class="group-item-field">
                <mdl-checkbox ng-model="groupModel.pop_vlan"
                              display-label="popVlanLabel">
                </mdl-checkbox>
                <!--<mdl-checkbox ng-model="groupModel.allow_vlan_xlate"-->
                              <!--display-label="allowVlanXlateLabel">-->
                <!--</mdl-checkbox>-->
            </div>
        </div>
    </div>
    <div class="bucket-form" ng-if="groupTypeSelected.value == 'OF-Type-1'">
        <div class="title">Bucket</div>
        <div class="stepForm__input">
            <div class="stepForm__input__label">{{::'MODULES.SWITCH.DETAIL.GROUP.INPUT.VLAN_ID' | translate}}</div>
            <valid-input ng-model="groupModel.vlan_id" v-regex="num_regex" v-rpcid="page_device_1" v-message="{{ 'MODULES.SWITCH.DETAIL.GROUP.INPUT.VLAN_ID.INVALID' | translate}}"></valid-input>
        </div>

        <div class="stepForm__input">
            <div class="stepForm__input__label">OF-DPA_L2_Interface_Group</div>
            <mdl-select ng-model="groupModel.L2InterfaceGroupsSelected"
                        disable="groupModel.L2UnfilteredInterfaceGroupSelected.value != ''"
                        display-label="L2InterfaceGroupsDisLab">
            </mdl-select>
            <div class="" style="margin-top:5px;" ng-if="groupModel.L2_Interface_Groups.length != 0">
                <div class="types-label" ng-repeat="groupLabel in groupModel.L2_Interface_Groups">
                    <span ng-bind="groupLabel"></span>
                    <span class="removeBtn" ng-click="removeGroup(groupLabel)">-</span>
                </div>
            </div>
        </div>

        <div class="stepForm__input">
            <div class="stepForm__input__label">OF-DPA_L2_Unfiltered_Interface</div>
            <mdl-select ng-model="groupModel.L2UnfilteredInterfaceGroupSelected"
                        disable="groupModel.L2_Interface_Groups.length != 0"
                        display-label="L2UnfilteredInterfaceGroupDisLab">
            </mdl-select>
        </div>

        <div class="stepForm__input">
            <div class="stepForm__input__label">{{::'MODULES.SWITCH.DETAIL.GROUP.INPUT.SRC_MAC' | translate}}</div>
            <valid-input ng-model="groupModel.Src_Mac_Address" v-regex="mac_regex" v-rpcid="page_device_1" ></valid-input>
        </div>

        <div class="stepForm__input">
            <div class="stepForm__input__label">{{::'MODULES.SWITCH.DETAIL.GROUP.INPUT.DST_MAC' | translate}}</div>
            <valid-input ng-model="groupModel.Dst_Mac_Address" v-regex="mac_regex" v-rpcid="page_device_1" ></valid-input>
        </div>
    </div>
    <div class="bucket-form" ng-if="groupTypeSelected.value == 'OF-Type-2'">
        <div class="title">Bucket</div>
        <div class="stepForm__input">
            <div class="stepForm__input__label">{{::'MODULES.SWITCH.DETAIL.GROUP.INPUT.VLAN_ID' | translate}}<span class="stepForm__input__required">*</span></div>
            <valid-input v-require="true" ng-model="groupModel.vlan_id" v-regex="num_regex" v-rpcid="page_device_1" v-message="{{ 'MODULES.SWITCH.DETAIL.GROUP.INPUT.VLAN_ID.INVALID' | translate}}"></valid-input>
        </div>

        <div class="stepForm__input">
            <div class="stepForm__input__label">OF-DPA_L2_Interface_Group<span class="stepForm__input__required">*</span></div>
            <mdl-select ng-model="groupModel.L2InterfaceGroupsSelected"
                        display-label="L2InterfaceGroupsDisLab">
            </mdl-select>
            <div class="" style="margin-top:5px;" ng-if="groupModel.L2_Interface_Groups.length != 0">
                <div class="types-label" ng-repeat="groupLabel in groupModel.L2_Interface_Groups">
                    <span ng-bind="groupLabel"></span>
                    <span class="removeBtn" ng-click="removeGroup(groupLabel)">-</span>
                </div>
            </div>
        </div>

        <div class="stepForm__input">
            <div class="stepForm__input__label">{{::'MODULES.SWITCH.DETAIL.GROUP.INPUT.SRC_MAC' | translate}}<span class="stepForm__input__required">*</span></div>
            <valid-input v-require="true" ng-model="groupModel.Src_Mac_Address" v-regex="mac_regex" v-rpcid="page_device_1" ></valid-input>
        </div>
        <div class="stepForm__input">
            <div class="stepForm__input__label">{{::'MODULES.SWITCH.DETAIL.GROUP.INPUT.DST_MAC' | translate}}<span class="stepForm__input__required">*</span></div>
            <valid-input v-require="true" ng-model="groupModel.Dst_Mac_Address" v-regex="mac_regex" v-rpcid="page_device_1" ></valid-input>
        </div>
    </div>
    <div class="bucket-form" ng-if="groupTypeSelected.value == 'OF-Type-3'">
        <div class="title">Bucket</div>
        <div class="stepForm__input">
            <div class="stepForm__input__label">{{::'MODULES.SWITCH.DETAIL.GROUP.INPUT.VLAN_ID' | translate}}<span class="stepForm__input__required">*</span></div>
            <valid-input v-require="true" ng-model="groupModel.vlan_id" v-regex="num_regex" v-rpcid="page_device_1" v-message="{{ 'MODULES.SWITCH.DETAIL.GROUP.INPUT.VLAN_ID.INVALID' | translate}}"></valid-input>
        </div>
        <div class="stepForm__input">
            <div class="stepForm__input__label">OF-DPA_L2_Interface_Group<span class="stepForm__input__required">*</span></div>
            <mdl-select ng-model="groupModel.L2InterfaceGroupsSelected"
                        display-label="L2InterfaceGroupsDisLab">
            </mdl-select>
            <div class="" style="margin-top:5px;" ng-if="groupModel.L2_Interface_Groups.length != 0">
                <div class="types-label" ng-repeat="groupLabel in groupModel.L2_Interface_Groups">
                    <span ng-bind="groupLabel"></span>
                    <span class="removeBtn" ng-click="removeGroup(groupLabel)">-</span>
                </div>
            </div>
        </div>
    </div>
    <div class="bucket-form" ng-if="groupTypeSelected.value == 'OF-Type-4'">
        <div class="title">Bucket</div>
        <div class="stepForm__input">
            <div class="stepForm__input__label">{{::'MODULES.SWITCH.DETAIL.GROUP.INPUT.VLAN_ID' | translate}}<span class="stepForm__input__required">*</span></div>
            <valid-input v-require="true" ng-model="groupModel.vlan_id" v-regex="num_regex" v-rpcid="page_device_1" v-message="{{ 'MODULES.SWITCH.DETAIL.GROUP.INPUT.VLAN_ID.INVALID' | translate}}"></valid-input>
        </div>
        <div class="stepForm__input">
            <div class="stepForm__input__label">OF-DPA_L2_Interface_Group<span class="stepForm__input__required">*</span></div>
            <mdl-select ng-model="groupModel.L2InterfaceGroupsSelected"
                        display-label="L2InterfaceGroupsDisLab">
            </mdl-select>
            <div class="" style="margin-top:5px;" ng-if="groupModel.L2_Interface_Groups.length != 0">
                <div class="types-label" ng-repeat="groupLabel in groupModel.L2_Interface_Groups">
                    <span ng-bind="groupLabel"></span>
                    <span class="removeBtn" ng-click="removeGroup(groupLabel)">-</span>
                </div>
            </div>
        </div>
    </div>
    <div class="bucket-form" ng-if="groupTypeSelected.value == 'OF-Type-5'">
        <div class="title">Bucket</div>
        <div class="stepForm__input">
            <div class="stepForm__input__label">{{::'MODULES.SWITCH.DETAIL.GROUP.INPUT.VLAN_ID' | translate}}</div>
            <valid-input ng-model="groupModel.vlan_id" v-regex="num_regex" v-rpcid="page_device_1" v-message="{{ 'MODULES.SWITCH.DETAIL.GROUP.INPUT.VLAN_ID.INVALID' | translate}}"></valid-input>
        </div>
        <div class="stepForm__input">
            <div class="stepForm__input__label">OF-DPA_L2_Interface_Group<span class="stepForm__input__required">*</span></div>
            <mdl-select ng-model="groupModel.L2InterfaceGroupsSelected"
                        display-label="L2InterfaceGroupsDisLab">
            </mdl-select>
            <div class="" style="margin-top:5px;" ng-if="groupModel.L2_Interface_Groups.length != 0">
                <div class="types-label" ng-repeat="groupLabel in groupModel.L2_Interface_Groups">
                    <span ng-bind="groupLabel"></span>
                    <span class="removeBtn" ng-click="removeGroup(groupLabel)">-</span>
                </div>
            </div>
        </div>
        <div class="stepForm__input">
            <div class="stepForm__input__label">{{::'MODULES.SWITCH.DETAIL.GROUP.INPUT.SRC_MAC' | translate}}<span class="stepForm__input__required">*</span></div>
            <valid-input v-require="true" ng-model="groupModel.Src_Mac_Address" v-regex="mac_regex" v-rpcid="page_device_1" ></valid-input>
        </div>
        <div class="stepForm__input">
            <div class="stepForm__input__label">{{::'MODULES.SWITCH.DETAIL.GROUP.INPUT.DST_MAC' | translate}}</div>
            <valid-input ng-model="groupModel.Dst_Mac_Address" v-regex="mac_regex" v-rpcid="page_device_1" ></valid-input>
        </div>
    </div>
    <div class="bucket-form" ng-if="groupTypeSelected.value == 'OF-Type-6'">
        <div class="title">Bucket</div>
        <div class="stepForm__input">
            <div class="stepForm__input__label">{{::'MODULES.SWITCH.DETAIL.GROUP.INPUT.VLAN_ID' | translate}}<span class="stepForm__input__required">*</span></div>
            <valid-input v-require="true" ng-model="groupModel.vlan_id" v-regex="num_regex" v-rpcid="page_device_1" v-message="{{ 'MODULES.SWITCH.DETAIL.GROUP.INPUT.VLAN_ID.INVALID' | translate}}"></valid-input>
        </div>
        <div class="stepForm__input">
            <div class="stepForm__input__label">OF-DPA_L2_Interface_Group<span class="stepForm__input__required">*</span></div>
            <mdl-select ng-model="groupModel.L2InterfaceGroupsSelected"
                        display-label="L2InterfaceGroupsDisLab">
            </mdl-select>
            <div class="" style="margin-top:5px;" ng-if="groupModel.L2_Interface_Groups.length != 0">
                <div class="types-label" ng-repeat="groupLabel in groupModel.L2_Interface_Groups">
                    <span ng-bind="groupLabel"></span>
                    <span class="removeBtn" ng-click="removeGroup(groupLabel)">-</span>
                </div>
            </div>
        </div>
        <div class="stepForm__input">
            <div class="stepForm__input__label">OF-DPA_L3_interface<span class="stepForm__input__required">*</span></div>
            <mdl-select ng-model="groupModel.L3InterfaceGroupSelected"
                        display-label="L3InterfaceGroupDisLab">
            </mdl-select>
        </div>
        <div class="stepForm__input">
            <div class="stepForm__input__label">OF-DPA_L3_ECMP<span class="stepForm__input__required">*</span></div>
            <mdl-select ng-model="groupModel.L3ECMPGroupSelected"
                        display-label="L3ECMPGroupDisLab">
            </mdl-select>
        </div>
        <!--<div class="stepForm__input">-->
            <!--<div class="stepForm__input__label">mpls ff group<span class="stepForm__input__required">*</span></div>-->
            <!--<mdl-select ng-model="groupModel.groupTypeSelected"-->
                        <!--display-label="groupTypesDisLab">-->
            <!--</mdl-select>-->
        <!--</div>-->
        <!--<div class="stepForm__input">-->
            <!--<div class="stepForm__input__label">mpls l3vpn group<span class="stepForm__input__required">*</span></div>-->
            <!--<mdl-select ng-model="groupModel.groupTypeSelected"-->
                        <!--display-label="groupTypesDisLab">-->
            <!--</mdl-select>-->
        <!--</div>-->
    </div>
    <div class="bucket-form" ng-if="groupTypeSelected.value == 'OF-Type-7'">
        <div class="title">Bucket</div>
        <div class="stepForm__input">
            <div class="stepForm__input__label">OF-DPA_L3_Unicast<span class="stepForm__input__required">*</span></div>
            <mdl-select ng-model="groupModel.L3UnicastGroupSelected"
                        display-label="L3UnicastGroupDisLab">
            </mdl-select>
        </div>
        <div class="stepForm__input">
            <div class="stepForm__input__label">OF-DPA_L3_ECMP<span class="stepForm__input__required">*</span></div>
            <mdl-select ng-model="groupModel.L3ECMPGroupSelected"
                        display-label="L3ECMPGroupDisLab">
            </mdl-select>
        </div>
        <!--<div class="stepForm__input">-->
            <!--<div class="stepForm__input__label">mpls l3 vpn group<span class="stepForm__input__required">*</span></div>-->
            <!--<mdl-select ng-model="groupModel.groupTypeSelected"-->
                        <!--display-label="groupTypesDisLab">-->
            <!--</mdl-select>-->
        <!--</div>-->
        <!--<div class="stepForm__input">-->
            <!--<div class="stepForm__input__label">mpls ff group<span class="stepForm__input__required">*</span></div>-->
            <!--<mdl-select ng-model="groupModel.groupTypeSelected"-->
                        <!--display-label="groupTypesDisLab">-->
            <!--</mdl-select>-->
        <!--</div>-->
    </div>
    <div class="bucket-form" ng-if="groupTypeSelected.value == 'OF-Type-11'">
        <div class="title">Bucket</div>
        <div class="stepForm__input">
            <div class="stepForm__input__label">{{::'MODULES.SWITCH.DETAIL.GROUP.INPUT.OUTPUT_PORT' | translate}}<span class="stepForm__input__required">*</span></div>
            <valid-input v-require="true" ng-model="groupModel.output_port" v-regex="port_regex" v-rpcid="page_device_1" v-message="{{ 'MODULES.REGEX.FLOW_ADD.PORT' | translate}}"></valid-input>
        </div>
    </div>
</div>