<div class="add_healthycheck">

    <div class="name add_healthycheck__content">
        <div class="add_healthycheck__content__label">{{'MODULES.ALERT.HEALTHY_CHECK.TABLE.RULE_NAME'|translate}}</div>
        <div class="add_healthycheck__content__input">
            <!--<input ng-if="!disModel" style="border-radius: 2px;" class="stepForm__input__text ng-valid ng-not-empty ng-valid-required" type="text" ng-model="healthyCheckAddedModel.name" ng-required="true" required="required" />-->
            <valid-input ng-if="!disModel"  v-require="true" ng-model="healthyCheckAddedModel.name" v-rpcid="page_healthy_check" ></valid-input>
            <div ng-if="disModel" class="add_healthycheck__disabled_input">{{healthyCheckAddedModel.name}}</div>
        </div>
    </div>


    <div class="object add_healthycheck__content">
        <div class="add_healthycheck__content__label">{{'MODULES.ALERT.HEALTHY_CHECK.TABLE.OBJECT'|translate}}</div>
        <div class="add_healthycheck__content__input">
            <mdl-select ng-model="healthyCheckAddedModel.object"
                        disable="disModel"
                        display-label="displayLabel.object">
            </mdl-select>
        </div>
    </div>

    <div class="type add_healthycheck__content">
        <div class="add_healthycheck__content__label">{{'MODULES.ALERT.HEALTHY_CHECK.TABLE.TYPE'|translate}}</div>
        <div class="add_healthycheck__content__input">
            <mdl-select ng-if="healthyCheckAddedModel.object.value == 'switch'" ng-model="healthyCheckAddedModel.type"
                        disable="disModel"
                        display-label="displayLabel.swtType">
            </mdl-select>

            <mdl-select ng-if="healthyCheckAddedModel.object.value == 'controller'" ng-model="healthyCheckAddedModel.type"
                        disable="disModel"
                        display-label="displayLabel.ctrlType">
            </mdl-select>

        </div>
    </div>

    <div class="receive_group add_healthycheck__content">
        <div class="add_healthycheck__content__label">{{'MODULES.ALERT.HEALTHY_CHECK.TABLE.RECEIVE_GROUP'|translate}}</div>
        <div class="add_healthycheck__content__input">

            <mdl-select ng-model="healthyCheckAddedModel.group" style="overflow: visible"
                        disable="disModel"
                        display-label="displayLabel.group"
            >
            </mdl-select>

        </div>
    </div>

    <div class="alert_level add_healthycheck__content">
        <div class="add_healthycheck__content__label">{{'MODULES.ALERT.HEALTHY_CHECK.TABLE.ALERT_LEVEL'|translate}}</div>
        <div class="add_healthycheck__content__input">
            <mdl-select ng-model="healthyCheckAddedModel.level"
                        disable="disModel"
                        display-label="displayLabel.level">
            </mdl-select>
        </div>
    </div>

    <div class="query add_healthycheck__content">
        <div class="add_healthycheck__content__label">{{'MODULES.ALERT.HEALTHY_CHECK.CONDITION'|translate}}</div>
        <div class="add_healthycheck__content__input">

            <mdl-select ng-model="healthyCheckAddedModel.query.condition" style="float: left;"
                        display-label="displayLabel.condition">
            </mdl-select>

            <!--<input style="width: 70px;float: left;border-radius: 2px;margin: 0 12px;" class="stepForm__input__text  ng-valid ng-not-empty " type="text" ng-model="healthyCheckAddedModel.query.value" ng-required="true"  ng-pattern="num_regex" />-->

            <valid-input  v-style='{"width": "70px","float": "left","border-radius": "2px","margin": "0 12px"}' v-require="true" ng-model="healthyCheckAddedModel.query.value" v-regex="num_regex" v-message="{{ 'MODULES.REGEX.FLOW_ADD.NUMBER' | translate}}" v-rpcid="page_healthy_check" ></valid-input>

            <div style="display: inline-block;">{{ (healthyCheckAddedModel.type.value == 'rx' || healthyCheckAddedModel.type.value == 'tx')?'Mbps':'%'}}</div>
        </div>
    </div>

    <div class="query add_healthycheck__content">
        <div class="add_healthycheck__content__label">{{'MODULES.ALERT.HEALTHY_CHECK.CONDITION.CONTINUE'|translate}}</div>
        <div class="add_healthycheck__content__input">
            <!--<input style="width: 70px;float: left;border-radius: 2px;margin: 0 12px 0 0;" class="stepForm__input__text  ng-valid ng-not-empty " type="text" ng-model="healthyCheckAddedModel.query.continue" ng-required="true"  ng-pattern="num_regex" />-->

            <valid-input  v-style='{"width": "70px","float": "left","border-radius": "2px","margin": "0 12px 0 0"}' v-require="true" ng-model="healthyCheckAddedModel.query.continue" v-regex="num_regex" v-message="{{ 'MODULES.REGEX.FLOW_ADD.NUMBER' | translate}}" v-rpcid="page_healthy_check" ></valid-input>
            <div style="display: inline-block;">{{'MODULES.ALERT.HEALTHY_CHECK.CONDITION.SECOND'|translate}}</div>
        </div>
    </div>

    <div class="status add_healthycheck__content">
        <div class="add_healthycheck__content__label">{{'MODULES.ALERT.HEALTHY_CHECK.TABLE.STATUS'|translate}}</div>

        <div class="add_healthycheck__content__input">
            <mdl-switch ng-model="healthyCheckAddedModel.switch"
                        display-label="displayLabel.status">
            </mdl-switch>

        </div>
    </div>



</div>