@import 'xbem';
@import 'default';
@import 'shared';

@include block(wizard) {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(224,224,224,.7);
  z-index: 1000;
  overflow: hidden;

  div {
    box-sizing: border-box;
  }

  @include element(dialog) {
    position: relative;
    margin: 50px auto;
    width: 760px;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #000;
    overflow: hidden;
    
    @include state(single) {
      width: 570px;
    }
  }

  @include element(header) {
    height: 40px;
    padding: 5px 0;
    border-bottom: 1px solid #777;
    background-color: #7accef;

    @include element(title) {
      float: left;
      margin-left: 15px;
      font-size: 20px;
      font-weight: bold;
    }

    @include element(dismiss) {
      float: right;
      width: 25px;
      height: 25px;
      margin-right: 15px;
      background: url('../images/dialog-close.png') 100% 100% no-repeat;
      cursor: pointer;
    }
  }

  @include element(body) {
    height: 500px;
    clear: both;
    
    @include element(left) {
      height: 100%;
      float: left;
      width: 25%;
      //background: -webkit-linear-gradient(top,#CCCCCC,#F0F0F0);
      //background: -moz-linear-gradient(top,#CCCCCC,#F0F0F0);
      //background: -ms-linear-gradient(top,#CCCCCC,#F0F0F0);
      //background: linear-gradient(top,#CCCCCC,#F0F0F0);
      background-color: #f0f0f0;
      overflow: hidden;

      @include element(step) {
        position: relative;
        padding: 10px;
        font-size: 16px;
        font-weight: 600;
        text-align: left;
        //background-color: #333333;
        background: -webkit-linear-gradient(left,#ECF0F0,#BCBCBC);
        background: -moz-linear-gradient(left,#ECF0F0,#BCBCBC);
        background: -ms-linear-gradient(left,#ECF0F0,#BCBCBC);
        background: linear-gradient(left,#ECF0F0,#BCBCBC);
        border-bottom: 1px solid #666666;
        color: #000;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;

        &:hover {
          background-color: #E0E0E0;
        }

        @include state(active) {
          background-color: #A0A0A0;
        }
      }
    }

    @include element(right) {
      float: left;
      padding: 5px 10px;
      height: 100%;
      width: 75%;
      background: #ffffff;
      overflow: scroll;
  
      @include state(single) {
        width: 100%;
      }
      
      @include element(content) {
        width: 100%;
        height: 100%;
      }
    }
    
    @include element(form) {
      width: 350px;
      overflow-x: hidden;
  
      @include state(single) {
        margin: 0 auto;
      }
    }
  }

  @include element(footer) {
    width: 100%;
    height: 50px;
    border-top: 1px solid #777;
    background-color: #191919;
    background: -webkit-linear-gradient(left,#000000,#4C4C4C,#000000);
    background: -moz-linear-gradient(left,#000000,#4C4C4C,#000000);
    background: -ms-linear-gradient(left,#000000,#4C4C4C,#000000);
    background: linear-gradient(left,#000000,#4C4C4C,#000000);

    @include element(btn-group) {
      display: block;
      float: right;
      margin-right: 20px;
    }

    @include element(btn) {
      display: inline-block;
      margin: 10px 5px 0;
      width: 80px;
      height: 30px;
      padding: 5px;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      color: #000;
      background-color: #ffffff;
      border-color: #ccc;
      border: 1px solid transparent;
      cursor: pointer;

      @include state(disabled) {
        color: #333;
        background-color: #dedede;
        cursor: not-allowed;
      }

      &:hover, &:focus {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
      }
    }
  }
}

@include block(stepForm) {
  div {
    box-sizing: border-box;
  }
  
  @include element(input) {
    margin: 10px 0 20px;
    
    @include element(label) {
      font-size: 16px;
      /*text-decoration:underline;*/
    }
    
    @include element(textarea) {
      width: 100%;
      height: 70px;
      font-size: 15px;
      border-radius: 5px;
      box-sizing: border-box;
    }
    
    @include element(text) {
      width: 100%;
      height: 30px;
      font-size: 15px;
      padding: 0 5px;
      border: 1px solid rgb(169, 169, 169);
      box-sizing: border-box;
      border-radius: 5px;
    }
    
    @include element(text-prefix) {
      width: 70%;
      height: 30px;
      font-size: 15px;
      border: 1px solid rgb(169, 169, 169);
      box-sizing: border-box;
      border-radius: 5px;
      display: inline-block;
    }
    @include element(separator) {
      width: 10%;
      height: 30px;
      font-size: 16px;
      text-align: center;
      font-weight: bold;
    }
    @include element(text-postfix) {
      width: 20%;
      height: 30px;
      font-size: 15px;
      text-align: center;
      border: 1px solid rgb(169, 169, 169);
      box-sizing: border-box;
      border-radius: 5px;
      display: inline-block;
    }
    
    @include element(annotation) {
      margin: 5px 0;
      font-size: 10px;
      font-weight: 300;
      font-style: italic;
    }
    
    @include element(required) {
      font-size: 18px;
      color: red;
      font-weight: 800;
    }
  }
}


