<div class="trunk_establish">
  <div class="stepForm__input">
    <div class="stepForm__input__label">{{::'MODULES.PORT.COLUMN.NAME' | translate}}
      <span class="stepForm__input__required">*</span></div>
    <mdl-text ng-model="model.name"
              disable="{{edit}}"
              helper="model.nameHelper">
    </mdl-text>
  </div>
  <div class="stepForm__input">
    <div class="stepForm__input__label inlink-block">M-LAG
      <span class="stepForm__input__required">*</span></div>
    <mdl-radio ng-model="model.is_mlag" display-label="model.mlagEnableLabel" 
      disable="model.disableMLAG" on-click="supportMLAG(true)">
    </mdl-radio>
    <mdl-radio ng-model="model.is_mlag" display-label="model.mlagDsiableLabel"
      disable="model.disableMLAG" on-click="supportMLAG(false)">
    </mdl-radio>
  </div>
  <div class="stepForm__input">
    <div class="stepForm__input__label">{{::'MODULES.PORT.COLUMN.GROUP' | translate}}
      <span class="stepForm__input__required">*</span></div>
    <mdl-select ng-model="model.groupOption" disable="edit"
              display-label="model.groupDisplayLabel">
    </mdl-select>
  </div>
  <div class="stepForm__input">
    <div class="stepForm__input__label">{{::'MODULES.PORT.MEMBER.TITLE' | translate}}
      <span class="stepForm__input__required">*</span></div>
    <div class="member-components">
      <mdl-select ng-model="model.deviceOption" ng-change="changeDevice($value)"
              disable="model.membersDetail.length > 0 && model.is_mlag === false"
              display-label="model.deviceDisplayLabel">
      </mdl-select>
      <mdl-select ng-model="model.portOption"
                display-label="model.portDisplayLabel">
      </mdl-select>
      <div class="add-btn" ng-click="addMember()">
          <i class="material-icons">add</i>
      </div>
    </div>
    <div class="member-items multiple_ip" style="margin-top:5px;" ng-show="model.membersDetail.length">
      <div class="types-label" ng-repeat="member in model.membersDetail">
        <span ng-bind="member.device_name  + '/' + member.port"></span>
        <span class="removeBtn" ng-click="removeSelected(member)">-</span>
      </div>
    </div>
  </div>
</div>