<div class="flex_entirety">
    <!--<mar-header></mar-header>-->
    <mdl-header></mdl-header>

        <div class="flex_entirety__body">

        <content-header big-title="{{pageTitle}}">
            <a href="/">Mars Cloud</a>
            <span>•</span>
            <span ng-bind="::'MODULE.LOG.PAGE.TITLE' | translate"></span>
        </content-header>
        <section class="app-body" >
            <div class="main__content">
                <mdl-tabs ng-model="tabSelected" options="tabs"
                          class-list="main__content__device-detail-tabs"
                          on-select="onTabChange($value)">
                </mdl-tabs>

                <section class="tab-content" ng-show="tabSelected.type == 'realtime'" style="position:relative;height: calc(100% - 50px);">
                    <div class="realtime-log-actions">
                        <div class="realtime-log-actions__action realtime-log-actions__select" >
                            <mdl-select style="display:inline-flex;"
                                        ng-model="selectedEndpoint"
                                        display-label="endpointDisLabs">
                            </mdl-select>
                        </div>
                        <div class="realtime-log-actions__action">
                            <input class="realtime-log-actions__input" ng-model="keyWordStr" ng-disabled="!updateRealtimeLogFlag" />
                        </div>

                        <div class="realtime-log-actions__action" style="margin-left:10px;">
                            <mar-button btn-style="updateRealtimeLogFlag ? 'background-color:yellow;color:#000;' : 'background-color: grey;color:#000;'" btn-text="::'MODULE.LOG.BUTTON.MARK' | translate" btn-class="'btn-black btn-sm'" btn-icon="'bookmark'" btn-disabled="!updateRealtimeLogFlag" btn-click="onKeywordChange(keyWordStr)" />
                        </div>

                        <div class="realtime-log-actions__action">
                            <mar-button btn-text="realtimeBtnTxt" btn-class="'btn-black btn-sm'" btn-icon="updateRealtimeLogFlag ? 'pause' : 'play_arrow'" btn-click="onUpdateBtn()" />
                        </div>

                        <div class="realtime-log-actions__action">
                            <mar-button btn-text="::'MODULE.LOG.BUTTON.CLEAR_LOG' | translate" btn-class="'btn-white btn-sm'" btn-icon="'delete_forever'" btn-click="onClearLogsBtn()" />
                        </div>
                    </div>
                    <div id="realtime-log-div" style="position:relative;width:100%;height:100%;background-color:#000;color: #fff;overflow:auto;margin-top: 10px;">
                    </div>


                </section>

                <section class="tab-content" ng-if="tabSelected.type == 'history'" style="height: calc(100% - 40px);">
                    <mdl-table actions-show="logModel.actionsShow"
                               actions="logModel.rowActions"
                               provider="logModel.logProvider" api-ready="onLogAPIReady($api)"
                               need-pagination="true">
                    </mdl-table>

                    <div class="actions">
                        <!--<div style="display:inline-block;vertical-align: bottom;">-->
                        <!--<span ng-bind="::'MODULE.LOG.DOWNLOAD_LABEL' | translate"></span>-->
                        <!--</div>-->
                        <div style="display:inline-block;vertical-align: bottom;">
                            <mdl-select ng-model="logModel.logFileSelected"
                                        display-label="fileList">
                            </mdl-select>
                        </div>
                        <!--<div style="display:inline-block;line-height: 40px;vertical-align: middle;">-->
                        <!--<span>To: </span><input class="actions__input" type="date" name="date-to" ng-model="dateTo" ng-disabled="loading" max="::dateTo">-->
                        <!--</div>-->
                        <!--<div style="display:inline-block;margin-left: 15px;">-->
                        <!--<mar-button btn-text="::'MODULE.LOG.BUTTON.SEARCH' | translate" btn-class="'btn-black btn-md'" btn-icon="'search'" btn-click="search()" btn-disabled="dateFrom > dateTo || loading || dateTo > today" />-->
                        <!--</div>-->
                        <!--&lt;!&ndash;<button class="actions__button actions__search-btn" ng-click="search()" ng-class="{'+disabled': dateFrom > dateTo || loading || dateTo > today}" ng-disabled="dateFrom > dateTo || loading || dateTo > today" ng-bind="::'MODULE.LOG.BUTTON.SEARCH' | translate"></button>&ndash;&gt;-->
                        <!--&lt;!&ndash;<button class="actions__button actions__file-btn" ng-click="file()" ng-class="{'+disabled': !hasData}" ng-disabled="!hasData" ng-bind="::'MODULE.LOG.BUTTON.DOWNLOAD' | translate"></button>&ndash;&gt;-->
                        <div style="display:inline-block;margin-left: 15px;">
                            <mar-button btn-text="::'MODULE.LOG.BUTTON.DOWNLOAD' | translate" btn-class="'btn-black btn-sm'" btn-icon="'cloud_download'" btn-click="downloadFile()" btn-disabled="fileList.options.length == 1 || logModel.logFileSelected.value == ''" />
                        </div>
                    </div>
                </section>
            </div>
        </section>
        <!--<section class="column__1__3 +hasscroll +hasborder">
        </section>-->
    </div>
</div>
