<div class="linkTooltip" ng-style="tooltipStyle">
    <div class="linkTooltip__arrow" ng-class="{'+right': isRight, '+left': !isRight}" ng-style="arrowStyle"></div>
    <div class="linkTooltip__content">
        <div class="linkTooltip__content__header"></div>
        <div class="linkTooltip__content__body">
            <!--<mar-section s-title="{{'MODULES.TOPO.LINK_TOOLTIP.DIRECTION'|translate}}" no-fold="true">-->
                <!--<transclude-body>-->
                    <!--<span style="display: inline-block">{{srcDevice}}</span>-->
                    <!--<span style="display: inline-block"><i class="material-icons">arrow_forward</i></span>-->
                    <!--<span style="display: inline-block">{{dstDevice}}</span>-->
                <!--</transclude-body>-->


            <!--</mar-section>-->
            <div>
                <table id="link_up_div" class="topo_table"></table>
            </div>
            <div>
                <!--<div style="margin-left: 10px;font-size:19px;display: inline-block">{{'MODULES.TOPO.LINK_TOOLTIP.DIRECTION'|translate}} :</div>-->
                <div style="height: 30px;line-height: 30px;margin-left: 10px;display: inline-block">
                    <span style="display: inline-block">{{srcDevice}}</span>
                    <span style="display: inline-block;width: 100px;height: 24px;vertical-align: middle;" class="both_way_flux"></span>
                    <span style="display: inline-block">{{dstDevice}}</span>
                </div>
            </div>
            <!--<div style="border-bottom: 1px solid gray"></div>-->
            <div>
                <table id="link_down_div" class="topo_table"></table>
            </div>


        </div>
    </div>
</div>
