<div class="login">
  <div class="language-location">
    <language-selection></language-selection>
  </div>
  <div class="login-fields">

    <form class="login__form" name="loginForm" autocomplete="off" novalidate>
      <div class="login-fields__logo" style="display: none;"></div>
      <div class="logo_svg_outer" style="width:300px;height: 120px;">
        <svg class="logo_svg" style="width:300px;height: 120px;" version="1.1" viewBox="0 0 300 120" xmlns="http://www.w3.org/2000/svg">

          <symbol id="text">
            <text class="text" y="86px">MARS</text>
          </symbol>

          <g>
            <use xlink:href="#text" class="use-text"></use>
            <use xlink:href="#text" class="use-text"></use>
            <use xlink:href="#text" class="use-text"></use>
            <use xlink:href="#text" class="use-text"></use>
            <use xlink:href="#text" class="use-text"></use>
          </g>

        </svg>
      </div>

      <div class="login-fields__username login-fields__element">
        <mdl-text ng-model="loginModel.username"
                  helper="loginModel.nameHelper"
                  display-label="loginModel.userNameDisplayLabel">
        </mdl-text>
      </div>
      <div class="login-fields__password login-fields__element">
        <mdl-text ng-model="loginModel.password"
                  helper="loginModel.passwordHelper"
                  display-label="loginModel.passwordDisplayLabel">
        </mdl-text>
      </div>
      <div class="login-fields__btn login-fields__element">
        <mar-button btn-text="loginModel.buttomText" btn-icon="'account_circle'" btn-style="'width:100%'" btn-class="'btn-white btn-lg'" btn-click="login($event)" btn-disabled="loginForm.$invalid" />
      </div>
      <div class="login-fields__message-error login-fields__element" ng-show="showBrowserMsg">
        <span>{{ loginModel.errorMessage }}</span>
      </div>
    </form>
  </div>
</div>