//@import 'xbem';
@import 'default';
@import 'shared';

@include block(topo_setting){


}

//3联动才能使样式置顶
.\+front.mdc-button.topo_setting__button{
  margin: 0;
  padding: 0;
  min-width: 32px;
  width:32px;
  height:32px;
  color: black;
}

.\+show.mdc-button.topo_setting__button{
  border: 1px solid lightgray;
  background-color: lightgray;
}



.table_content tr td:first-child{
  text-align: right;
  padding-right:4px;
  //background-color: red;
  padding-top:4px;
  font-weight: 300;
  font-size:11px;
}

.table_content tr td:last-child{
  text-align: left;
  padding-left:2px;
  padding-top:4px;
  font-weight: 400;
  font-size:11px;
}

.table_content.summary tr td:first-child{
  font-size:16px;
}

.table_content.summary tr td:last-child{
  font-size:16px;
}




.swt_table_dashboard tr td:first-child{
  text-align: right;
  padding-right:8px;
  //background-color: red;
  padding-top:4px;
  font-weight: 400;
  font-size:16px;
}

.swt_table_dashboard tr td:last-child{
  text-align: left;
  padding-left:8px;
  padding-top:4px;
  font-weight: 300;
  font-size:14px;
}