<div class="mar_section" >
    <div class="mar_section__header" ng-click="foldAndNot()">
        <!--<div class="mar_section__header__icon" ng-style="sectionModel.iconStyle" ng-class="{'+expand': sectionModel.isFold}"></div>-->
        <div class="mar_section__header__icon" ng-style="sectionModel.iconStyle"></div>
        <div class="mar_section__header__title">{{sectionModel.title}}</div>
    </div>

    <!--<div class="mar_section__body" ng-class="{'+expand': sectionModel.isFold}" ng-style="sectionModel.showStyle">-->
    <div>
        <div class="mar_section__body" ng-style="sectionModel.showStyle">
            <ng-transclude>
            </ng-transclude>
        </div>
    </div>

</div>