@import 'xbem';
@import 'default';
@import 'shared';

@include block(step) {
  div {
    box-sizing: border-box;
  }
  
  @include element(input) {
    margin: 10px 0 20px;
    
    @include element(label) {
      font-size: 16px;
      /*text-decoration:underline;*/
    }

    @include element(textarea) {
      width: 100%;
      height: 70px;
      font-size: 15px;
      border-radius: 5px;
      box-sizing: border-box;
    }

    @include element(text) {
      width: 100%;
      height: 30px;
      font-size: 15px;
      padding: 0 5px;
      border: 1px solid rgb(169, 169, 169);
      box-sizing: border-box;
      border-radius: 5px;
    }

    @include element(text-prefix) {
      width: 70%;
      height: 30px;
      font-size: 15px;
      border: 1px solid rgb(169, 169, 169);
      box-sizing: border-box;
      border-radius: 5px;
      display: inline-block;
    }
    @include element(separator) {
      width: 10%;
      height: 30px;
      font-size: 16px;
      text-align: center;
      font-weight: bold;
    }
    @include element(text-postfix) {
      width: 20%;
      height: 30px;
      font-size: 15px;
      text-align: center;
      border: 1px solid rgb(169, 169, 169);
      box-sizing: border-box;
      border-radius: 5px;
      display: inline-block;
    }

    @include element(annotation) {
      margin: 5px 0;
      font-size: 10px;
      font-weight: 300;
      font-style: italic;
    }

    @include element(required) {
      font-size: 18px;
      color: red;
      font-weight: 800;
    }
  }
}


