<div class="main">
  <section class="column__2__3 +hasscroll" >
    <div class="main__title">
      <h3>Fabric</h3>
      &nbsp;&nbsp;>&nbsp;&nbsp;
      <h3>Switches</h3>
    </div>
    <div class="main__content">
      <mdl-tabs ng-model="switchModel.tabSelected" options="switchModel.tabs"
                class-list="main__content__switch-tabs"
                on-select="onTabChange($value)">
      </mdl-tabs>
      <section class="tabs__content" ng-if="switchModel.tabSelected.type == 'switch'">
        <mdl-table actions-show="switchModel.actionsShow"
                   row-click="onTableRowClick($event)"
                   provider="switchModel.switchProvider" api-ready="onSwitchApiReady($api)"
                   on-add="addSwitch()" on-remove="removeSwitch($value)">
        </mdl-table>
      </section>
    </div>
  </section>
  <section class="column__1__3 +hasscroll +hasborder">

  </section>
</div>