@import 'xbem';
//@import 'default';
//@import 'shared';

@include block(menu){
  position: relative;
  display: table;
  line-height: map_get($sizes, header-height);

  @include element(head){
    overflow: hidden;
    min-width:50px;
    max-width:100px;
    font-size:16px;
    padding: 0 20px 0 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    position: relative;
    float: left;
    color: white;

    @include state(act){
      transition: none;
      border-top:2px solid map_get($colors, second_color);
      background: black;
      color:map_get($colors, second_color);
      height:map_get($sizes, header-height)-2px;
      line-height: map_get($sizes, header-height)-2px;
      z-index:map_get($z-indexes, z2);
    }

    @include element(arrow){
      position: absolute;
      top: 19px;
      right: 10px;
      width: 0;
      height: 0;
      transition: all .2s;
      border-top: 4px solid #ccc;
      border-right: 4px solid transparent;
      border-bottom: 0 none;
      border-left: 4px solid transparent;

      @include state(act){
        transform: rotateX(-180deg);
      }
    }

  }

  //menu__dropdown
  @include element(dropdown){
    position: absolute;
    top: map_get($sizes,header-height);
    min-width:80px;
    max-width:180px;
    overflow:hidden;
    display: none;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);

    //menu__dropdown.act
    @include state(act){
      display: block;
      animation: .15s ease-out;
      animation-name: fadeinT;
      background-color: #2b2a2e;
    }
    //menu__dropdown__item
    @include element(item){
      overflow: hidden;
      width:100%;
      font-size:14px;
      padding: 0 10px 0 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: block;
      position: relative;
      float: left;

      @include state(act){
        transition: none;
        border-top:none;
        background: black;
        color:white;
        height:auto;
        z-index:10;
      }

      &:hover {
        background: map_get($colors, second_color);
        color: black;
      }
    }
  }
}


@-webkit-keyframes fadeinT {
  0% {
    -webkit-transform: translateY(-100px);
    opacity: 0
  }

  100% {
    -webkit-transform: translateY(0);
    opacity: 1
  }
}

@-moz-keyframes fadeinT {
  0% {
    -moz-transform: translateY(-100px);
    opacity: 0
  }

  100% {
    -moz-transform: translateY(0);
    opacity: 1
  }
}

@-ms-keyframes fadeinT {
  0% {
    -ms-transform: translateY(-100px);
    opacity: 0
  }

  100% {
    -ms-transform: translateY(0);
    opacity: 1
  }
}

@keyframes fadeinT {
  0% {
    transform: translateY(-100px);
    opacity: 0
  }

  100% {
    transform: translateY(0);
    opacity: 1
  }
}

/*
div.act.tab .uname span{
  transform: rotateX(-180deg);
}

div.act.tab  a{
  transition: none;
  border-top:2px solid #ed4259;
  background: #2b2a2e;
  color:white;
  height:40px;
  line-height: 38px;
  z-index:10;
}

div.act.tab .dropdown a {
  transition: none;
  border-top:none;
  background: #2b2a2e;
  color:white;
  height:auto;
  z-index:10;

}

div.act.tab .dropdown{
  display: block;
  animation: .15s ease-out;
  animation-name: fadeinT;
  background-color: #2b2a2e;

}

div.act.tab .dropdown a:hover{
  background: black;

}



@-webkit-keyframes fadeinT {
  0% {
    -webkit-transform: translateY(-10px);
    opacity: 0
  }

  100% {
    -webkit-transform: translateY(0);
    opacity: 1
  }
}

@-moz-keyframes fadeinT {
  0% {
    -moz-transform: translateY(-10px);
    opacity: 0
  }

  100% {
    -moz-transform: translateY(0);
    opacity: 1
  }
}

@-ms-keyframes fadeinT {
  0% {
    -ms-transform: translateY(-10px);
    opacity: 0
  }

  100% {
    -ms-transform: translateY(0);
    opacity: 1
  }
}

@keyframes fadeinT {
  0% {
    transform: translateY(-10px);
    opacity: 0
  }

  100% {
    transform: translateY(0);
    opacity: 1
  }
}

*/