/*
mdc设置组件颜色
.mdl-card__action--icon:not(:disabled) {
  color: rgba(0, 0, 0, 0.38);
  !* @alternate *!
  color: var(--mdl-theme-text-icon-on-background, rgba(0, 0, 0, 0.38)); }*/
.mdl-table-field{
  height: 100%;
}
.right{
  float: right;
}
.mdl-table-action__search {
  margin-left: 24px;
  display: flex;
  align-items: center;
}
.mdl-table-action__search-body{
  width: 100%;
}
.mdc-text-field__input.mdl-table-action__search-body__input{
  padding-top: 0;
  border: none;
  width: 200px;
}
table{
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.mdl-table-field__actions {
  display: flex;
  opacity: 0.6;
}
.search-filter-list ul{
  height: 200px;
  display: flex;
  width: 300px;
  flex-wrap: wrap;
}
.mdl-table-header{
  border:1px solid rgba(0, 0, 0, 0.1);
  /*border-bottom: 0;*/
  /*border-radius: 4px 4px 0 0;*/
}
.mdl-table-body{
  /*border-radius: 0 0 4px 4px;*/
  /*height: 90%;*/
  overflow-y: auto;
}
.mdl-table-footer{
  opacity: 0.6;
}
.mdl-table-header__row, .mdl-table-body__row {
  display: table-row;
  align-items: center;
  height: 40px;
  line-height: 24px;
}
.mdl-table-body__row__small{
  height: 35px;
}
.mdl-table-body__row{
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.mdl-table-body__row:last-child {
 /* border-bottom: 0;*/
}
.mdl-table-body__td__hide{
  display: none;
}
.mdl-table-body__row__highlight, .mdl-table-body__row:last-child.mdl-table-body__row__highlight{
  border-bottom: 1px solid #47B8E0;
  background: rgba(71,184,224, 0.12);
}
.mdl-table-body__row td {
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.mdl-table-body__row .td-row-actions{
  overflow: inherit;
}
.mdl-table-body__row td.clickable{
  cursor: pointer;
  text-decoration: underline;
  color: #47B8E0;
}
.mdl-table-header__row th {
  text-align: center;
  opacity: 0.6;
}
.mdl-table-header__row th.sortable {
  cursor: pointer;
  vertical-align: middle;
}
.mdl-table-header__row th.sort-asc, .mdl-table-header__row th.sort-desc {
  color: var(--mdc-theme-primary, #000000);
  opacity: 0.8;
}
.mdl-table-header__row th.sortable .icon-sort{
  vertical-align: middle;
  background-color: transparent;
  background-size: 12px 16px;
  background-image: url('../images/arrow.svg');
  background-repeat: no-repeat;
}
.mdl-table-header__row th.sortable .icon-sort-desc{
  background-image: url("../images/arrow_down.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 12px 16px;
  vertical-align: middle;
}
.mdl-table-header__row th.sortable .icon-sort-asc{
  background-image: url("../images/arrow_up.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 12px 16px;
  vertical-align: middle;
}
.mdl-table-field__content{
  border-radius: 4px;
  font-size: 13px;
  overflow: hidden;
  transition: box-shadow 135ms cubic-bezier(.4,0,.2,1),width 235ms cubic-bezier(.4,0,.2,1);
  vertical-align: top;
  height: calc(100% - 48px);
  display: flex;
  flex-direction: column;
}
.mdc-menu.table-row-action-list{
  min-width: 80px;
}
.mdc-list-item.mdc-list-item__normal-size{
  height: 35px;
}
.mdc-list-item.mdc-list-item__small-size{
  height: 28px;
}
.pagination {
  display: flex;
  align-items: center;
  padding: 10px 0 0 0;
  margin: 0;
  float: right;
}
.pagination li{
  display: inline-block;
}
.pagination--page{
  display: flex;
  height: 24px;
  padding: 12px 24px;
  align-items: center;
}
.pagination--page__small{
  height: 18px;
  padding: 6px;
}
.pagination--page---counts, .pagination--page---divider{
  padding-left: 10px;
  font-size: 16px;
}
.pagination--page--current{
  width: 50px;
  margin-bottom: 0;
}
.pagination--page--input{
  padding-top: 0;
  height:24px;
  margin-left: 10px;
}
.mdc-select.pagination-select-field{
  height: 30px;
  width: 50px;
}
.pagination--item--modify{
  margin: 0 24px;
}
.mdc-select:not(.mdc-select--disabled) .mdc-select__native-control.pagination--select--modify{
  padding-top: 6px;
  border-bottom: 0;
  line-height: 0.75rem;
}
.show-hide-column-modal{
  width: 500px;
}
.column-manipulation-field{
  width: 100%;
}
.column-manipulation-field__header{
  padding: 12px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
.column-manipulation-field__content{
  height: 230px;
  padding: 12px;
  overflow-y: auto;
  display: flex;
}
.column-manipulation-field__column{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.column-manipulation-field__item{
  display: flex;
  align-items: center;
  height: 30px;
  margin: 20px 0;
  width: 100%;
  justify-content: center;
  font-size: 16px;
  flex-direction: column;
}
.column-manipulation-field__footer{
  height: 48px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  box-sizing: border-box;
  font-size: 14px;
}
