<div class="act" ng-mouseleave="hideUser()" style="z-index:100;">
    <a class="uname" href="//me.qidian.com/Index.aspx" target="_blank" data-eid="qd_A65" ng-mouseenter="showUser()">
        <i id="nav-user-name">鸣晟_古姬</i>
        <span></span>
    </a>
    <div class="dropdown">
        <a ng-click="testClick()" target="_blank" data-eid="qd_A67">充值</a>
        <a href="//me.qidian.com/Index.aspx" target="_blank" data-eid="qd_A68">个人中心</a>
        <a href="//www.qidian.com/help/kf" target="_blank" data-eid="qd_A69">客服中心</a>
        <a id="exit" href="javascript:" data-eid="qd_A70">退出</a>
    </div>
</div>