@import 'xbem';
//@import 'default';
//@import 'shared';


@include block(flow_instruction){
  margin: 16px;

  table{
    border-collapse: separate;
    border-spacing: 0 4px;
  }

  .instruction_line{
    display: inline-block;
  }


  @include element(name){
    margin-bottom:4px;
    font-size:16px;
  }


  @include element(header){
    display: inline-block;
    margin-top: 2px;

    div{
      display: inline-block;
      vertical-align: top;
    }

    @include element(action){
      margin-top:-10px;
    }
  }

  @include element(body){

    .type {
      top: -8px;
      left: 16px;
      position: absolute;
      background-color: white;
      padding: 0 4px;
      color: #6a6af9;
      box-shadow: 2px 2px 2px lightgray;
      border-radius: 2px;
    }

    @include element(item){
      margin-top: 16px;
      border-radius: 3px;
      border: 1px solid gray;
      display: block;
      padding: 12px 30px 12px 12px;
      position: relative;

      .remove{
        top:0;
        right:0;
        position: absolute;
      }

      @include element(line){
        display:block;
      }
    }
  }
}

@include block(flow_criteria){
  margin: 16px;
  table{
    border-collapse: separate;
    border-spacing: 0 4px;
  }

  @include element(name){
    font-size:16px;
    margin-bottom:4px;
  }

  .criteria_line{
    display: inline-block;
  }

  @include element(header){
    display: inline-block;
    margin-top: 2px;

    div{
      display: inline-block;
      vertical-align: top;
    }

    @include element(action){
      margin-top:-10px;
    }
  }

  @include element(body){
    .type {
      top: -8px;
      left: 16px;
      position: absolute;
      background-color: white;
      padding: 0 4px;
      color: #6a6af9;
      box-shadow: 2px 2px 2px lightgray;
      border-radius: 2px;
    }

    @include element(item){
      margin-top: 16px;
      border-radius: 3px;
      border: 1px solid gray;
      display: block;
      padding: 12px 30px 12px 12px;
      position: relative;

      .remove{
        top:0;
        right:0;
        position: absolute;
      }

      @include element(line){
        display:block;
      }
    }
  }
}


@include  block(flow_common){
  margin: 16px;
}
.flow_table tr td:first-child {
  font-weight: 300;
  min-width:80px;
}

select.mdc-select__native-control {
  font-size:14px;
}

.flow_instruction .mdc-checkbox-label{
  font-weight: bold;
  font-size: 15px;
}