<div class="wizard__body__form">
    <div class="wizard__body__input">
        <div class="wizard__body__input__label">SNMP Settings</div>
        <span>Inherit From Controller</span>
        <mdl-switch ng-model="switch.snmpTraps"
                    display-label="{on: 'On', off: 'Off', id: 'device-snp'}">
        </mdl-switch>
    </div>

    <div ng-show="switch.snmpTraps">
        <div class="wizard__body__input">
            <div class="wizard__body__input__label">SNMP Settings</div>
            <span>Inherit From Controller</span>
            <mdl-switch ng-model="switch.snmpTraps"
                        display-label="{on: 'On', off: 'Off', id: 'device-snp'}">
            </mdl-switch>
        </div>
    </div>
</div>