<div class="static_table">
    <!--<table ng-table-dynamic="tableModel.tableParams with tableModel.cols" >-->
    <table ng-table-dynamic="tableModel.tableParams with tableModel.cols" show-filter="false" class="table static_table__table" show-filter="true">
        <colgroup>
            <!--<col span="1" style="background-color:red;width:15px" ng-if="col.field=='opt'">-->
            <col ng-repeat="col in $columns" ng-class="{'min': col.field=='opt'}" />
        </colgroup>
        <tr ng-repeat="row in $data" class="static_table__table__tr">
            <td ng-repeat="col in $columns" class="static_table__table__td" >
                {{row[col.field]}}
                <div ng-if="col.field=='opt'" >
                    <button class="mdc-icon-button material-icons static_table__table__opt_button" >menu</button>
                </div>
            </td>
        </tr>
    </table>
</div>