<mdl-header></mdl-header>
<div class="app-main">
  <content-header big-title="{{page_title}}">
    <a href="/">Mars Cloud</a>
    <span>•</span>
    <span ng-bind="'MODULES.LOGICAL.SEGMENT.DETAIL.TITLE'|translate"></span>
  </content-header>
  <section class="app-body">
    <div class="main__content">
      <div class="device-detail">
        <div class="device-detail__row">
          <div class="device-detail__item">
            <label class="device-detail__item-label"
                   ng-bind="'MODULES.LOGICAL.SEGMENT.TABLE.SEGMENT_NAME'|translate"></label>
            <span class="device-detail__item-value">{{detailModel.name}}</span>
          </div>
          <div class="device-detail__item">
            <label class="device-detail__item-label"
                   ng-bind="'MODULES.LOGICAL.SEGMENT.TABLE.SEGMENT_TYPE'|translate"></label>
            <span class="device-detail__item-value">{{detailModel.type}}</span>
          </div>
          <div class="device-detail__item">
            <label class="device-detail__item-label"
                   ng-bind="'MODULES.LOGICAL.SEGMENT.TABLE.IP_ADDRESS'|translate"></label>
            <span class="device-detail__item-value">{{detailModel.ip_address}}</span>
          </div>

        </div>
        <div class="device-detail__row">
          <div class="device-detail__item">
            <label ng-if="detailModel.type == 'vlan'" class="device-detail__item-label">VLAN ID</label>
            <label ng-if="detailModel.type == 'vxlan'" class="device-detail__item-label">VNI ID</label>
            <span class="device-detail__item-value">{{detailModel.value}}</span>
          </div>
          <div class="device-detail__item">
            <label class="device-detail__item-label"
                   ng-bind="'MODULES.LOGICAL.TENANT.TABLE.NAME'|translate"></label>
            <span class="device-detail__item-value">{{tenantName}}</span>
          </div>
        </div>



      </div>

      <div style="min-width:800px;max-width:1200px;" ng-if="detailModel.type == 'vlan'">
        <mar-section s-title="VLAN" no-fold="true" class="detail_summary">
          <transclude-body>
            <mdl-table actions-show="vlanTableModel.actionsShow"
                       actions="vlanTableModel.rowActions"
                       row-select-action="onVlanTableRowSelectAction($event)"
                       row-click="onVlanTableRowClick($event)"
                       on-add="onVlanAdd()"
                       provider="vlanTableModel.provider" api-ready="onVlanApiReady($api)">
            </mdl-table>
          </transclude-body>
        </mar-section>
      </div>

      <div style="display: flex;flex-direction: row;flex-wrap: wrap" ng-if="detailModel.type == 'vxlan'">
        <div style="width:700px;margin-right:50px;">

          <mar-section s-title="VXLAN Access" no-fold="true" class="detail_summary">
            <transclude-body>
              <mdl-table actions-show="vxlanTableModel.actionsShow"
                         actions="vxlanTableModel.rowActions"
                         row-select-action="onVxlanAccessTableRowSelectAction($event)"
                         row-click="onVxlanAccessTableRowClick($event)"
                         on-add="onVxlanAccessAdd()"
                         provider="vxlanTableModel.access_provider" api-ready="onVxlanAccessApiReady($api)">
              </mdl-table>
            </transclude-body>
          </mar-section>


        </div>
        <div style="width:450px;">
          <mar-section s-title="VXLAN Network" no-fold="true"  class="detail_summary">
            <transclude-body>
              <mdl-table actions-show="vxlanTableModel.actionsShow"
                         actions="vxlanTableModel.rowActions"
                         row-select-action="onVxlanNetworkTableRowSelectAction($event)"
                         row-click="onVxlanNetworkTableRowClick($event)"
                         on-add="onVxlanNetworkAdd()"
                         provider="vxlanTableModel.network_provider" api-ready="onVxlanNetworkApiReady($api)">
              </mdl-table>
            </transclude-body>
          </mar-section>
        </div>
    </div>

    </div>
  </section>
  <ng-controller ng-controller="SegmentMemberEstablishController">
    <wizard></wizard>
  </ng-controller>

</div>