<div class="tenant flex_entirety">
  <!--<mar-header></mar-header>-->
  <mdl-header></mdl-header>
  <div class="tenant__body flex_entirety__body">

    <content-header big-title="{{'MODULE.HEADER.LOGICAL.TENANT' | translate}}">
      <a href="/">Mars Cloud</a>
      <span>•</span>
      <span>{{'MODULE.HEADER.LOGICAL.TENANT' | translate}}</span>
    </content-header>
    <div class="configuration__body__content flex_entirety__body__body" style="display:flex;flex-direction: column">
      <div style="margin-top: 16px;flex-shrink: 1;flex-grow: 1;">
        <mdl-table actions-show="tenantModel.actionsShow"
                   actions="tenantModel.rowActions"
                   row-click="onTableRowClick($event)"
                   row-select-action="onTenantTableRowSelectAction($event)"
                   provider="tenantModel.tenantTableProvider" api-ready="onTenantAPIReady($api)"
                   on-add="addTenant()"
                   on-remove="batchRemove($value)" >
        </mdl-table>
      </div>
    </div>
  </div>


  <ng-controller ng-controller="TenantEstablishController">
    <wizard></wizard>
  </ng-controller>

</div>
