<mdl-header></mdl-header>
<div class="app-main">
  <content-header big-title="{{page_title}}">
    <a href="/">Mars Cloud</a>
    <span>•</span>
    <span>{{'MODULE.HEADER.LOGICAL.TENANT' | translate}}</span>
  </content-header>
  <section class="app-body tenant-detail">
    <div class="section-3-2">
      <div class="main__content">
      <mdl-tabs ng-model="tabSelected" options="tabs"
                class-list="main__content__device-detail-tabs"
                on-select="onTabChange($value)">
      </mdl-tabs>
      <section class="tab-content" ng-if="tabSelected.type == 'segment'">
        <mdl-table actions-show="detailModel.actionsShow"
                  actions="detailModel.rowActions"
                  row-select-action="onTableRowSelectAction($event)"
                  row-click="onTableRowClick($event)"
                  provider="detailModel.provider" api-ready="onApiReady($api)"
                  on-add="addSegment()" on-remove="batchRemove($value)">
        </mdl-table>
      </section>
    </div>
    </div>
    <div class="section-3-1" ng-if="tabSelected.type === 'segment' && segment">
      <div class="segment-detail">
        <h3 ng-bind="'MODULES.LOGICAL.TENANT.DETAIL.SEGMENT.DETAIL.TITLE'|translate"></h3>
        <div class="segment-vlan-member" ng-show="segment.type === 'vlan'">
          <h4 ng-bind="'MODULES.LOGICAL.TENANT.DETAIL.SEGMENT.DETAIL.VLAN.TITLE'|translate"></h4>
          <mdl-table actions-show="segmentModel.actionsShow"
                    provider="segmentModel.vlanProvider" api-ready="onVlanApiReady($api)">
          </mdl-table>
        </div>
        <div class="segment-vxlan-member" ng-show="segment.type === 'vxlan'">
          <h4 ng-bind="'MODULES.LOGICAL.TENANT.DETAIL.SEGMENT.DETAIL.VXLAN.TITLE'|translate"></h4>
          <mdl-table actions-show="segmentModel.actionsShow"
                    provider="segmentModel.vxlanProvider" api-ready="onVxlanApiReady($api)">
          </mdl-table>
        </div>
      </div>
    </div>
  </section>
</div>