<div class="timerange_establish">

  <div class="stepForm__input">
    <div class="stepForm__input__label">{{'MODULES.TIMERANGES.LABEL.SWITCH'|translate}}
      <!--<span class="stepForm__input__required">*</span>-->
    </div>
    <div class="timerange_establish__label">{{device.label}}</div>
  </div>

  <div class="stepForm__input">
    <div class="stepForm__input__label">{{'MODULES.TIMERANGES.LABEL.TIME_RANGE_NAME'|translate}}
      <!--<span class="stepForm__input__required">*</span>-->
    </div>
    <div class="timerange_establish__label">{{tsEsModel.name.label}}</div>
  </div>

  <div class="stepForm__input">
    <div class="stepForm__input__label">{{'MODULES.TIMERANGES.ESTABLISH.RANGE.LABEL.MODE'|translate}}
      <!--<span class="stepForm__input__required">*</span>-->
    </div>
    <mdl-select ng-model="tsEsModel.mode"
                display-label="tsEsDisplay.modeDisplay">
    </mdl-select>
  </div>


  <div class="stepForm__input" ng-if="tsEsModel.mode.value == 'absolute'">
    <div class="stepForm__input__label" style="margin-left: -10px">
      <mdl-checkbox class="title_checkbox" ng-model="tsEsModel.ab_start_need"
                        display-label="tsEsDisplay.startTimeDisplay">
      </mdl-checkbox>
      <span class="stepForm__input__required"></span></div>
    <div class="timerange_establish__ab_item"  ng-if="tsEsModel.ab_start_need">
      <div>
        <md-datepicker ng-required="true" ng-model="tsEsModel.ab_start.date" md-placeholder="{{'MODULES.TIMERANGES.ESTABLISH.RANGE.LABEL.SELECT_DATE'|translate}}"></md-datepicker>
      </div>
      <div class="timerange_establish__ab_time">
        <i class="material-icons timerange_establish__ab_time__icon">access_time</i>
        <valid-input class="timerange_establish__ab_time__input"
                     v-fixed-height="true"  v-require="true" ng-model="tsEsModel.ab_start.hour" v-type="hour"
                     v-rpcid="page_timerange_es"></valid-input>
        <div class="timerange_establish__ab_time__label">:</div>
        <valid-input class="timerange_establish__ab_time__input"
                     v-fixed-height="true"  v-require="true"  ng-model="tsEsModel.ab_start.minute" v-type="minute"
                     v-rpcid="page_timerange_es"></valid-input>
      </div>
    </div>
  </div>

  <div class="stepForm__input" ng-if="tsEsModel.mode.value == 'absolute'">
    <div class="stepForm__input__label">{{'MODULES.TIMERANGES.ESTABLISH.RANGE.LABEL.END_TIME'|translate}}<span class="stepForm__input__required">*</span></div>
    <div class="timerange_establish__ab_item" >
      <div>
        <md-datepicker ng-required="true" ng-model="tsEsModel.ab_end.date" md-placeholder="{{'MODULES.TIMERANGES.ESTABLISH.RANGE.LABEL.SELECT_DATE'|translate}}"></md-datepicker>
      </div>
      <div class="timerange_establish__ab_time">
        <i class="material-icons timerange_establish__ab_time__icon">access_time</i>
        <valid-input class="timerange_establish__ab_time__input"
                     v-fixed-height="true" v-require="true" ng-model="tsEsModel.ab_end.hour" v-type="hour"
                     v-rpcid="page_timerange_es"></valid-input>
        <div class="timerange_establish__ab_time__label">:</div>
        <valid-input class="timerange_establish__ab_time__input"
                     v-fixed-height="true" v-require="true" ng-model="tsEsModel.ab_end.minute" v-type="minute"
                     v-rpcid="page_timerange_es"></valid-input>
      </div>
    </div>
    <div class="timerange_establish__ab_err_msg" ng-if="tsEsModel.isAbsoluteTimeInValid">
      {{'MODULES.TIMERANGES.ESTABLISH.RANGE.LABEL.TIME_INVALID_MSG'|translate}}
    </div>
  </div>

  <div class="stepForm__input" ng-if="tsEsModel.mode.value == 'periodic'">
    <div class="stepForm__input__label">{{'MODULES.TIMERANGES.ESTABLISH.RANGE.LABEL.START_TIME'|translate}}<span class="stepForm__input__required">*</span></div>
    <div class="timerange_establish__per_item">
      <mdl-select ng-model="tsEsModel.per_start.date" ng-change="periodStartTypeChange($value)"
                  display-label="tsEsDisplay.periodicDisplay">
      </mdl-select>
      <div class="timerange_establish__per_time">
        <i class="material-icons timerange_establish__per_time__icon">access_time</i>
        <valid-input class="timerange_establish__per_time__input"
                     v-fixed-height="true"
                     v-require="true"
                     ng-model="tsEsModel.per_start.hour"
                     v-type="hour"
                     v-rpcid="page_timerange_es">
        </valid-input>
        <div class="timerange_establish__per_time__label">:</div>
        <valid-input class="timerange_establish__per_time__input"
                     v-fixed-height="true"
                     v-require="true"
                     ng-model="tsEsModel.per_start.minute"
                     v-type="minute"
                     v-rpcid="page_timerange_es"></valid-input>
      </div>
    </div>
  </div>

  <div class="stepForm__input" ng-if="tsEsModel.mode.value == 'periodic'">
    <div class="stepForm__input__label">{{'MODULES.TIMERANGES.ESTABLISH.RANGE.LABEL.END_TIME'|translate}}<span class="stepForm__input__required">*</span></div>
    <div class="timerange_establish__per_item">
      <mdl-select ng-model="tsEsModel.per_end.date" ng-change="periodEndTypeChange($value)"
                  display-label="tsEsDisplay.periodicDisplay">
      </mdl-select>
      <div class="timerange_establish__per_time">
        <i class="material-icons timerange_establish__per_time__icon">access_time</i>
        <valid-input class="timerange_establish__per_time__input"
                     v-fixed-height="true"
                     v-require="true"
                     ng-model="tsEsModel.per_end.hour"
                     v-type="hour"
                     v-rpcid="page_timerange_es">
        </valid-input>
        <div class="timerange_establish__per_time__label">:</div>
        <valid-input class="timerange_establish__per_time__input"
                     v-fixed-height="true"
                     v-require="true"
                     ng-model="tsEsModel.per_end.minute"
                     v-type="minute"
                     v-rpcid="page_timerange_es"></valid-input>
      </div>
    </div>
  </div>

</div>