<div class="route_establish">


    <div class="stepForm__input">
        <div class="stepForm__input__label">{{'MODULES.LOGICAL.SEGMENT_MEMBER.TYPE'|translate}}</div>
        <valid-input v-require="true" ng-model="routeEsModel.name" v-rpcid="page_route_es" ></valid-input>
    </div>



    <div class="stepForm__input multiple_ip">
        <div class="stepForm__input__label">Segments</div>
        <mdl-select ng-model="routeEsModel.curSegment" display-label="routeEsModel.segmentDisplayLabel" style="display: inline-block">
        </mdl-select>
        <div class="add-btn" ng-click="addSegment()">
            <i class="material-icons">add</i>
        </div>
        <div class="" style="margin-top:5px;" ng-show="routeEsModel.segments.length">
            <div class="types-label" ng-repeat="segment in routeEsModel.segments">
                <span ng-bind="segment"></span>
                <span class="removeBtn" ng-click="removeSelectedSegment(segment)">-</span>
            </div>
        </div>
    </div>

</div>