//@import 'xbem';
//@import 'default';
//@import 'shared';


@include block(header_content) {
  margin-top: 4px;
  padding-bottom: 3px;
  //margin-left: 16px;
  //margin-right: 16px;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0px;
  border-bottom: 1px solid lightgray;
  //flex-basis: 30px;
  //flex-grow: 0;
  //flex-shrink: 0;

  div{
    margin-left:8px;
  }

  @include element(breadcrumb) {
    a {
      font-size: 12px;
      text-decoration: none;
      font-weight: bold;
      color: #47B8E0;
    }
    
    span {
      font-size: 12px;
      text-decoration: none;
    }
  }

  @include element(sep) {
    margin: 0px 5px;
    font-size: 12px;
    font-weight: 400;
  }

  @include element(title) {
    //max-width: 400px;
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 2px;
    vertical-align: bottom;
    margin-top: 10px;
  }
}

