.navbar::after, .container::after{
  clear: both;
}
.navbar::before, .navbar::after, .container::after, .container::before{
  content: " ";
  display: table;
}

.navbar-inner{
  background: #263238;
  height: 47px;
  min-width: 820px;
}
.navbar-flex-between{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar-inner a{
  text-decoration: none;
  user-select: none;
}
.navbar-inner__container{
  padding: 0 12px;
  height: 100%;
  display: flex;
  align-items: center;
}
.navbar-inner__brand{
  background-image: url('../../assets/images/mars_logo.png');
  background-size:60px 47px;
  height: 47px;
  width: 60px;
  cursor: pointer;
}
.navbar-inner__nav{
  list-style: none;
  margin: 0 24px 0 0;
  position: relative;
  display: block;
  float: left;
}
.navbar-inner__nav li{
  position: relative;
  float: left;
  display: block;
  cursor: pointer;
  text-align: left;
}
.navbar-inner__nav li:hover{
  background: #37474F;
}
.navbar-inner__right{
  color: white;
  float: right;
  display: flex;
  margin-right: 60px;
  align-items: center;
}
.navbar-inner__account{
  height: 100%;
  position: relative;
  float: left;
}
.navbar-inner__account-summary{
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  line-height: 47px;
}
.navbar-inner__account-user{
  margin: 0 4px;
  font-size: 14px;
}
.dropdown-caret{
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  content: "";
  margin-top: 8px;
  border: 4px solid;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.navbar-inner__account-summary:hover{
  opacity: 0.8;
}
.navbar-inner__dropdown-toggle{
  display: block;
  position: relative;
  color: rgba(255,255,255,0.87);
  font-size: 16px;
  font-weight: 300;
  line-height: 47px;
  padding: 0 24px;
  text-transform: capitalize;
  transition: all .3s;
}
.navbar-inner__dropdown-menu{
  position: absolute;
  float: left;
  margin: 0;
  min-width: 160px;
  list-style: none;
  background: #37474F;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 3px 2px rgba(0, 0, 0, 0.24);
  color: #fff;
  z-index: 100;
  /*display: none;*/
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform .3s ease;
}
.navbar-inner__dropdown-menu__right{
  right: 0;
}
.navbar-inner__notification{
  position: relative;
  margin-right: 20px;
  font-size: 12px;
  color: #FFFFFF;
}
.navbar-inner__notification-toggle{
  position: relative;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 47px;
}
.navbar-inner__notification-toggle:hover {
  opacity: .8;
}
.navbar-inner__notification ul {
  width: 350px;
  min-height: 240px;
  max-height: 480px;
  overflow-y: auto;
  overflow-x: hidden;
}
.navbar-inner__notification li > a {
  line-height: 18px !important;
  padding-left: 10px !important;
  color: #c0c0c0 !important;
}
.navbar-inner__notification li .title {
  padding-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.navbar-inner__notification li .title:hover {
  color: #00D3FF;
}
.navbar-inner__notification li .title.non-read {
  color: #fff;
  font-weight: bold;
}
.navbar-inner__notification li .title.non-read:hover {
  color: #00D3FF;
}
.navbar-inner__notification li .time {
  color: #999;
}
.notification-status{
  position: absolute;
  top: 10px;
  left: 24px;
  z-index: 2;
  display: none;
  width: 8px;
  height: 8px;
  color: #fff;
  background-image: linear-gradient(#54a3ff, #006eed);
  background-clip: padding-box;
  border: 1px solid #24292e;
  border-radius: 50%;
}
.notification-status.has-alert{
  display: block;
}
/*.open>.navbar-inner__dropdown-menu {
  display: block;
}*/
.navbar-inner__dropdown:hover>.navbar-inner__dropdown-menu {
  transform: scaleY(1);
  opacity: 1;
}
.navbar-inner__dropdown-menu li{
  border-bottom: 1px solid rgba(38,50,56,0.56);
  box-sizing: border-box;
  line-height: 48px;
  cursor: pointer;
  width: 100%;
}
.navbar-inner__dropdown-menu li:last-child {
  border-bottom: 0;
}
.navbar-inner__dropdown-menu li > a{
  background: #37474F;
  display: block;
  color: #fff;
  font-weight: 300;
  line-height: 48px;
  padding: 0 16px;
  transition: all .3s;
}
.navbar-inner__dropdown-menu li > a:hover{
  background: #455A64;
}

.navbar-inner__theme-default {
  width: 30px;
  height: 30px;
  border-radius: 9px;
  background-color: #efefef;
  cursor: pointer;
}
.navbar-inner__theme-dark {
  margin-left: 15px;
  width: 30px;
  height: 30px;
  border-radius: 9px;
  background-color: #000;
  cursor: pointer;
}

.navbar-inner__theme {
  margin-top: 6px;
  cursor: pointer;
  margin-right: 20px;
  text-align: center;
}
.navbar-inner__theme:hover {
  opacity: .8;
}
