//@import 'xbem';
//@import 'default';
//@import 'shared';


@include block(static_table) {

  .btn-group{
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }

  .pull-right{
    float: right;
  }

  .pagination{
    display: inline-block;
    float:left;
    padding-left: 1px;
  }
  @include element(table){


    @include  element(tr){

    }

    @include  element(td){
        white-space: nowrap;
    }

    @include element(opt_button){
      --mdc-ripple-fg-size: 0;
      --mdc-ripple-left: 0;
      --mdc-ripple-top: 0;
      --mdc-ripple-fg-scale: 1;
      --mdc-ripple-fg-translate-end: 0;
      --mdc-ripple-fg-translate-start: 0;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      will-change: transform, opacity;
      width: 32px !important;
      height: 32px !important;
      padding: 0px !important;
      font-size: 24px;
      display: inline-block;
      position: relative;
      box-sizing: border-box;
      border: none;
      outline: none;
      background-color: transparent;
      fill: currentColor;
      color: inherit;
      text-decoration: none;
      cursor: pointer;
      user-select: none;

    }

  }
}

.min{
  width:35px;
}

.small_table{
  th {
    min-width: 100px;
  }
}
.static_table{
  .pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    /* line-height: 1.42857143; */
    //color: #47b8e0;
    color: black;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
  }


  .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    //color: #fff;
    color: black;
    cursor: default;
    background-color: lightgray;
    //background-color: #47b8e0;
    border-color: lightgray;
  }

  .pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
  }


  .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .btn-group>.btn:first-child {
    margin-left: 0;
  }
  .btn-group-vertical>.btn.active, .btn-group-vertical>.btn:active, .btn-group-vertical>.btn:focus, .btn-group-vertical>.btn:hover, .btn-group>.btn.active, .btn-group>.btn:active, .btn-group>.btn:focus, .btn-group>.btn:hover {
    z-index: 2;
  }
  .btn-group-vertical>.btn, .btn-group>.btn {
    position: relative;
    float: left;
  }
  .btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    background-image: none;
  }
  .btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
    color: #333;
    //background-color: #e6e6e6;
    background-color: lightgray;
    //border-color: #adadad;
    border-color: #ddd;
  }
  .btn.active, .btn:active {
    background-image: none;
    //outline: 0;
    //-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    //box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  }



  .btn {
    display: inline-block;
    padding: 3px 8px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }


  .btn-default {
    color: #333;
    background-color: #fff;
    //border-color: #ccc;
    border-color: #ddd;

  }


  .btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
    margin-left: -1px;
  }

  .btn-group-vertical>.btn, .btn-group>.btn {
    position: relative;
    float: left;
  }

  //.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
  //  border-top-right-radius: 0;
  //  border-bottom-right-radius: 0;
  //}
  //
  //.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  //  border-radius: 0;
  //}
  //
  //.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
  //  border-top-left-radius: 0;
  //  border-bottom-left-radius: 0;
  //}

  .btn-group>.btn{
    border-radius: 0;
  }

  .ng-table-counts{
    padding-top: 10px;
  }

}