//@import 'xbem';
//@import 'default';
//@import 'shared';

@include block(topo){
  //background-image: url("../../assets/images/graphback.png") ;
  //background-repeat: repeat-y;
}
.topo-container .outerLabels > text, .topo-container .tooltips > text{
	user-select: none;
	fill: #333;
	pointer-events: none;
	text-anchor: middle;
}
.topo-container g.outer, .topo-container g.inner, .topo-container g.links, .topo-container g.searchPaths > path{
	cursor: pointer;
}
.topo-container g.outer > path {
	stroke: #1B4A78;
	fill: #388FB8;
	transition: transform 0.3s ease-out;
}
.topo-container g.inner > path{
	stroke: none;
	fill: #51A7CD;
	transition: transform 0.3s ease-out;
}
.topo-container g.outer > path:hover{
	stroke-width: 2;
	transform: scale(1.01);
}
.topo-container g.inner > path:hover{
	stroke-width: 2;
	transform: scale(1.01);
}
.topo-container g.searchPaths > path{
	stroke-dasharray: 15 5;
  animation: dashoffset 2s infinite;
}
@keyframes dashoffset {
	to {
		stroke-dashoffset: -100;
	}
}