<div class="header">
    <div class="header__logo">
    </div>
    <div class="header__menu">
        <menu is-user=false group-url="item" ng-repeat="item in headers.menu"></menu>
    </div>
    <div class="header__tools">
        <div class="header__tools__warning">
            <mdl-button class="header__tools__warning__button" ng-click="showDrawer()"></mdl-button>
            <div class="header__tools__warning__number">6</div>
            <!--<mar-drawer></mar-drawer>-->
        </div>
        <div><menu is-user=true group-url="headers.user"></menu></div>
    </div>
</div>