<div class="mar_header flex_entirety__header">
    <div class="mar_header__logo">
    </div>
    <div class="mar_header__menu">
        <menu is-user=false group-url="item" ng-repeat="item in headerModel.menu"></menu>
    </div>
    <div class="mar_header__tools">
        <div class="mar_header__tools__warning">
            <mdl-button class="mar_header__tools__warning__button" ng-click="showDrawer()"></mdl-button>
            <div class="mar_header__tools__warning__number">6</div>
            <!--<mar-drawer></mar-drawer>-->
        </div>
        <div><menu ng-if="headerModel.user" is-user=true group-url="headerModel.user"></menu></div>
    </div>
</div>
